@media screen and (max-width: 550px )
    .s-control.partner-page
        .s-control_block
            flex-basis: 100%
            height: 90px
            margin-right: 0
    .breadcrumbs--agent
        margin-top: 0
    .main-ban
        padding-top: 0
        background-image: url(../img//bgm-min.png)
        background-size: cover
        background-position: center top
        padding-bottom: 40px
        &--infrastructure
            background-image: url("../img/infrastructure/bg_mob.png")
            background-size: 75% auto
            background-position: 50% 25px

            .main-ban__text
                padding-top: calc((100vw - 450px) * (305 - 250) / (550 - 450) + 250px)
                h1
                    font-size: 34px
                    line-height: 41px
                    letter-spacing: -0.02em
        &--orchestration
            background-image: url("../img/orchestration/bg.jpg")
            background-size: 90% auto
            background-position-y: 10px
            .main-ban__text
                margin-top: 0
                padding-top: calc((100vw - 450px) * (320 - 240) / (550 - 450) + 240px)
        &--hosting, &--one-c
            background: #F7F8FB url("../img/hosting/bg-mob.png") !important
            background-repeat: no-repeat !important
            height: auto
            background-position-x: 50% !important
        &--key-vault
            background: #F7F8FB url("../img/key-vault/bg-mob.png") !important
            background-repeat: no-repeat !important
            background-size: 77% auto !important
            background-position: center calc(100% - 376px) !important
            height: auto
        &--antivirus
            background-image: url("../img/antivirus/bg-mob.png")
            background-position-y: calc(100% - 374px)
            background-size: 70%
        &__text
            padding-top: 220px
        &__text--agent
            padding-top: 430px
        &--agent
            background-image: url(../img/agent-program/agent-program-bg-mob.png)
            background-size: 100% auto
            background-position: center -30px
            .main-ban__text
                padding-top: calc((100vw - 450px) * (567 - 480) / (550 - 450) + 30px)
        &--cmk
            background-image: url('../img/cmk/bg-mob.jpg')
            background-size: 80% auto
            background-position-y: 40px
            .main-ban__text
                padding-top: calc((100vw - 450px) * (280 - 220) / (550 - 450) + 220px)
        &--self-service
            background-image: url('../img/self-service/bg-mob.jpg')
            background-size: contain
            background-position-y: 10px
            .main-ban__text
                margin-top: 430px
                padding-top: 0
        &--waf
            background-image: url('../img/waf/bg_mob.png')
            background-size: contain
            background-position-y: 25px
            .main-ban__text
                padding-top: 460px
                padding-top: calc((100vw - 450px) * (460 - 350) / (550 - 450) + 350px)
        &--reseller
            background-image: url('../img/reseller/bg_mob.jpg')
            background-size: contain
            background-position: center 30px
            .main-ban__text
                padding-top: calc((100vw - 450px) * (550 - 455) / (550 - 450) + 455px)
        &--partner
            background-image: url('../img/partner-page/bg_mob.jpg')
            background-size: contain
            background-position: center top
            .main-ban__text
                padding-top: calc((100vw - 451px) * (490 - 410) / (550 - 451) + 410px)
        &--datacenter
            background: url("../img/datacenter/bg-mob.png")
            background-color: #F7F8FB
            background-repeat: no-repeat
            background-position: center -80px
            background-size: cover
            padding-top: 0
            .main-ban__text
                margin-top: calc((100vw - 451px) * (280 - 150) / (550 - 451) + 150px)
                h1
                    padding-right: 0
        &--firewall
            background-image: url('../img/firewall/bg.png')
            background-size: contain
            background-position-y: 10%
            .main-ban__text
                padding-top: 400px
        &--corp-email
            background-image: url('../img/corp-email/bg-mob.png')
            background-position-y: 13% !important
            background-size: contain
        &--gru
            background-image: url('../img/gru/bg.png')
            background-size: auto 300px
            background-position: center 15%
            h1
                padding-bottom: 30px !important
        &--laas
            background-image: url('../img/laas/bg.png')
            background-size: auto 333px
        &--documentation
            background-image: url('../img/documentation/bg.png')
            background-size: auto 339px
            background-position: center 23%

            .main-ban__text
                h1
                    padding-bottom: 0 !important
        &--microsoft
            background-image: url('../img/microsoft/bg.png')
            background-size: auto 38%
            background-position: calc(50% + 13px) 46px
            .main-ban__text
                margin-top: 100px
        &--web-app
            background-image: url('../img/web-app/bgm-min.png')
            background-size: 100% auto
            background-position-y: 120px
            .main-ban__text
                padding-top: calc((100vw - 451px) * (150 - 65) / (550 - 451) + 65px)

        &--skype
            background-image: url('../img/skype/bg-mob.png')
            background-position-y: top

            .main-ban__text
                padding-top: 47px
        &--cloud-administration,
        &--cloud-realization
            background-image: url('../img/cloud-administration/bg2.png')
            background-position: center calc((100vw - 451px) * (-235 + 185) / (550 - 451) - 185px)
            padding-bottom: 27px
            .main-ban_tabs
                margin-bottom: calc((100vw - 400px) * ((291 - 194) / (550 - 400)) + 194px)
            .main-ban__text
                padding-top: calc((100vw - 451px) * (300 - 250) / (550 - 451) + 250px)
                h1
                    padding-top: 0
                    font-size: 40px
                    padding-bottom: 18px
                p
                    padding-bottom: 25px

        &--cloud-administration
            background-image: url('../img/cloud-administration/bg-mob.png')

        &--cloud-realization
            background-image: url('../img/cloud-realization/bg2.png')
            background-position: center 53%
            .main-ban__text
                padding-top: calc((100vw - 451px) * (330 - 260) / (550 - 451) + 260px)

        &--cloud-migration
            background-image: url('../img/cloud-migration/bg-mob.png')
            background-position: center -90px
            background-size: 400px auto
            padding-bottom: 29px

            .container
                .main-ban_tabs
                    margin-bottom: calc((100vw - 400px) * ((291 - 240) / (550 - 400)) + 240px)

                .main-ban__text
                    padding-top: 381px

                    h1
                        padding: 0 0 18px
                    p
                        padding-bottom: 25px

        &--iaas
            background-image: url('../img/iaas/bg.png')
            background-size: 100% auto
            background-position-y: 80px
            .main-ban__text
                padding-top: calc((100vw - 451px) * (145 - 115) / (550 - 451) + 115px)
            .main-ban__btns
                max-width: none
        &--news
            background-image: url('../img/news/bg2.png')
            background-position: center 100%
            .main-ban__text
                padding-top: 17px
                p
                    padding-bottom: 320px
        &--commvault
            background-image: url('../img/commvault/bg.png')
            .main-ban__btns
                max-width: 100%
                .btn
                    width: 100% !important
        &--vdi
            background-image: url('../img/vdi/bg.png')
            background-size: 93% auto
            background-position-y: 25px
            .main-ban__text
                margin-top: 210px
                padding-top: calc((100vw - 451px) * (220 - 160) / (550 - 451) + 160px)
            .main-ban__btns
                max-width: none

        &--services-catalog
            background: #F7F8FB
            padding-bottom: 37px
            .breadcrumbs
                padding-bottom: 3px

        &--catalog-element
            padding-bottom: 34px

        &--soc
            background-image: url('../img/soc/bg.jpg')
            background-position-y: calc(0% - 62px)
            background-position-x: calc(50% - 165px)
            background-size: auto 75%

        &--about-page
            background-image: url('../img/about/bg.png')
            background-size: auto 111%
            background-position: -186px -24px
            .main-ban__text
                max-width: 251px
                padding-top: 0px
                h1
                    font-size: 44px
                    padding-bottom: 51px
                p
                    letter-spacing: 0
                    line-height: 146%
                    padding-bottom: 0


        &--unsubscribe
            background-image: url('../img/bg_unsubscribe.png')
            background-position-x: 50%
            background-position-y: 0
            background-size: auto 375px
            .main-ban__text
                margin-top: 0
                padding-top: 365px
        &--price-list
            background-image: url(../img/price-list/bg.png)
            background-size: 60% auto
            background-position-y: 5px
            background-position: 98% top
        &--sap
            background-image: url(../img/sap/bg.png)
            background-size: auto 46%
            background-position-y: 37px
            .main-ban__text
                padding-top: 150px
        &--information-security
            background-image: url('../img/information-security/bg_mob.png')
            background-position: center
            padding-bottom: 70px
            background-size: 100%
        &--hybrid-cloud
            background-image: url('../img/hybrid-cloud/bg.png')
            background-position-y: -60px
        &--journey
            background-image: url('../img/cloud-journey/bg.png')
            background-size: 65% auto
            background-position-y: 30px
        &--audit
            background-image: url('../img/audit-and-project-development/bg.png')
            background-position: -32% top
            background-size: 95% auto
            background-position-y: 87px

    .main-ban.isolate-connections
        background-image: url(../img/bg-isolate-connections-min.png)
        background-position: 50% 25px
        background-size: contain

    .main-ban--cloud
        background-image: url(../img/cloud-mts/bg-mob.png)

    .main-ban--key-sql
        background-image: url(../img/key-sql/bg-mob.png)
        background-size: 100% auto
        background-position-y: -10px
        .main-ban__text
            margin-top: 0
            padding-top: 324px
            padding-top: calc((100vw - 550px) * ((324 - 190) / (550 - 450)) + 324px)

    .s-features__img
        position: static
        transform: translateY(0%)
    .s-features_list__title
        font-size: 14px
        line-height: 1.3
        margin-bottom: 15px
    .s-features__desc
        margin-bottom: 20px
        font-size: 12px
        line-height: 1.3
    .s-test
        &_title
            font-size: 18px
            padding-bottom: 20px
        .btn
            width: 280px
    .s-control
        &_block
            width: 100%
            &:first-child
                margin-right: 0
    .banner-slider
        &__item
            // padding: 100px 30px 30px
            overflow: hidden
            &::before
                margin-left: -20px
            &::after
                background: linear-gradient(360deg, #202126 0%, rgba(32, 33, 38, 0.5) 66.82%, rgba(32, 33, 38, 0) 100%)
            h2
                // font-size: 24px
    .subscribe-form
        .error-text
            position: static
        &__inputs
            input
                margin-top: 0
            .label-input,
            .btn
                width: 100%
                margin-top: 15px
        &__title
            font-size: 18px

    .s-control--agent .s-control__block
        height: 82px
    .s-control--agent
        padding-top: 32px !important
        padding-bottom: 72px !important
    .s-commerce__title
        font-weight: 900
        font-size: 22px
        line-height: 26px
        color: #ffffff
        padding: 30px 20px
    .s-commerce__key
        font-size: 14px
        line-height: 120%
        margin-bottom: 16px
    .s-commerce__value
        font-weight: 700
        font-size: 16px
        line-height: 120%
    .s-commerce__sum
        padding: 30px 20px
        border-bottom: 1px solid rgba(202, 204, 210, 0.5)
    .s-commerce__percent
        padding: 30px 20px
    .s-commerce__info
        font-size: 18px
        line-height: 130%
        margin-bottom: 30px
    .s-commerce__notations
        font-size: 12px
        line-height: 130%
        position: relative
        padding-left: 44px
        &::before
            content: ''
            position: absolute
            //top: 11px
            left: 1px
            display: block
            width: 28px
            height: 28px
            background-image: url(../img/agent-program/snowflake.svg)
    .s-available-service
        padding-top: 62px
        padding-bottom: 3px
        background-color: #F7F8FB
        &--partner
            background-color: transparent
    .s-available-service__item
        background-color: #ffffff
        border-radius: 6px
        margin-bottom: 10px
        padding: 21px 20px
        display: flex
        align-items: center
    .s-available-service__hidden
        display: none
    .s-available-service__icon
        width: 32px
        height: 32px
        margin-right: 20px
    .s-available-service__text
        font-size: 14px
        line-height: 120%
    .s-ask_block--available-service
        display: block
    .mobile-hide
        display: block
    .desktop-hide
        display: none
    .s-commerce--cmk .s-commerce__preview
        font-size: 24px
        margin-top: 0
    .s-commerce--cmk .s-commerce__element
        flex-basis: 100%
    .s-commerce--infrastructure
        margin-top: 60px
    .s-control--cmk .s-control__info
        font-size: 24px
    .s-commerce--configurations
        .s-commerce__preview
            font-size: 16px
            line-height: 21px
            margin-bottom: 40px
        .s-commerce__title
            font-size: 18px
            line-height: 22px
            margin-bottom: 10px
            padding: 26px 20px
        .s-commerce__subtitle
            font-size: 16px
            line-height: 22px
            padding: 15px 20px 0
        .s-commerce__element
            font-size: 16px
            line-height: 19px
        .s-commerce__items
            padding: 0 37px
        .s-commerce__wrap
            margin-top: 20px
            padding: 20px
        .btn
            width: 100%
    .s-components__item
        max-width: 115px
        margin-right: 25px
        margin-left: 0
    .s-about--cmk .mobile-nav__title
        padding: 16px 30px
        height: auto
    .s-hosting_block
        background-position: 267px bottom
        background-size: auto 60%
    .s-hosting_desc
        padding-right: 100px
    .s-graphics__btn
        bottom: 67px
        left: 0px
        width: 11px
        height: 11px
        svg
            width: 11px
            height: 11px
    .describe
        .cloud-arch
            .cloud-arch__images
                flex-wrap: wrap
                width: auto
                padding-top: 48px
                //justify-content: space-around
                //margin-left: -18px
                .images-cisco, .images-dell, .images-net-app
                    margin-right: 0
                .images-cisco > img
                    width: 62%
                .images-dell > img
                    width: 47%
                .images-net-app > img
                    width: 63%
                    padding-left: 10px
                .images-juniper > img
                    width: 70%
                .images-cisco
                    width: 129px
                    padding-top: 0
                .images-net-app
                    width: 115px
                .images-dell
                    height: auto
                    margin-bottom: 7px
    .advantages
        .advantages__list
            .advantages__item
                padding: 35px 150px 43px 20px
            .advantages__item--bg1:before
                top: 19%
                left: 76%
            .advantages__item--bg2:before
                top: 57%
                left: 75%
    .configurator
        &__buttons-wrapper
            flex-direction: column
            .btn
                width: 100%
                margin: 0
                &-white-border
                    border: 1px solid white
                    margin-bottom: 20px
        &__text-wrapper
            text-align: left
            margin: 0 0 43px 0
    .d-payment
        &_block
            width: 100%
            &:first-child
                margin-right: 0
        &_desc
            font-size: 22px
            line-height: 1.3
            font-weight: 700
    .s-commerce--reseller
        .s-commerce__sum
            padding: 30px 0
        .s-commerce__percent
            padding: 30px 40px
    .support .s-control_block
        min-height: 90px
        padding: 0 10px 0 20px !important
    .clients-slider__img
        display: flex
        justify-content: flex-start
        height: 97px
        img
            width: 88%
            object-fit: contain
    .main-ban--marketplace
        background-size: 70%
        background-position: center 94px
        background-image: url('../img/marketplace/bgm-min.png')
        .breadcrumbs
            margin-bottom: 250px
        .main-ban_tabs
            position: absolute
            top: 70px
            width: 100%
            left: 0
            &__block
                padding-left: 15px
        .main-ban__text
            padding-top: calc((100vw - 450px) * (127 - 70) / (550 - 450) + 70px)
    .s-about--marketplace
        &_row
            display: block
        &_col
            margin-right: 0
            margin-bottom: 20px
            width: 100%
    .s-services
        &__item
            margin-right: 0
            padding: 15px
            h3
                font-size: 22px
            p
                font-size: 14px
            li
                font-size: 14px
            &-link
                margin-bottom: 100px
    .main-ban--private
        background-image: url('../img/private/bg-private-mobile.jpg')
        background-size: 94%
        background-position: 27px 90px
        .main-ban__text
            margin-top: 0
            padding-top: calc((100vw - 450px) * (375 - 325) / (550 - 450) + 325px)
    .main-ban__text--corp-email
        padding-top: 100%

    .main-ban__content-text--corp-email
        padding-right: 0
        width: 300px
    .main-ban__btns--corp-email
        .btn-red, .btn-red-border
            width: 90vw !important
    .special__title--corp-email
        width: 100%

    .d-excellence
        .s-title
            font-size: 28px

    .certificates
        &__item
            width: 440px
    .rent-services
        &__item
            min-height: 368px
        .all-rent
            min-height: 300px
    .power
        .power__list
            .power__item
                width: 600px
                padding: 33px 33px

    .technical-features--firewall
        .technical-features
            &__block
                flex-direction: column
                align-items: center
            &__block--img
                width: 293px
                margin: 0 0 75px 0
                &-wrap
                    width: 293px
                    height: auto
            &__block--text-wrap
                max-width: none
    .main-ban.remote-work-bg
        background-image: url('../img/bg-rw-min.jpg')
        background-position-y: -20px
        background-position-x: center
        background-size: 100% auto
        .main-ban__text
            padding-top: calc((100vw - 451px) * (440 - 365) / (550 - 451) + 365px)
    .we-offer_item
        flex-basis: calc(50% - 20px)
        &:nth-child(3n)
            margin-right: 40px
        &:nth-child(2n)
            margin-right: 0
    .s-control.cloud-service .s-control_block
        flex-basis: 100%
        margin-right: 0 !important
    .s-about--remote
        .mobile-nav__title
            font-size: 14px
            line-height: 17px
    .gru-info
        padding-bottom: 15px
        background: #F7F8FB
        &__image 
            width: 192.07px
            height: 289.77px
        &__text
            margin-bottom: 15px
    .d-banners
        padding-top: 60px
        .s-title
            font-size: 28px
        &__item
            padding: 30px 24px 30px 20px
            background-size: auto 184px
            background-position-x: 108%
            margin-bottom: 20px
            p
                font-size: 16px
                margin-bottom: 170px
                padding-left: 2px
                letter-spacing: -0.1px
        &_title
            font-size: 22px
            margin-bottom: 20px
            padding-right: 20px
    .d-banners__item-mod
        background-size: auto 220px
    .d-services
        &__item
            margin-right: 0
        p
            margin-bottom: 206px
    .v-rate
        .v-rate-inner__item
            background-position-y: -25px
            .v-rate-inner__item-title--p
                padding: 17px 0 36px 40px
            .v-rate-inner__item-title
                font-size: 20px !important
            .v-rate-inner__item-title1, .v-rate-inner__item-title2
                padding-top: 38px
            .v-rate-inner__item-content
                .v-rate-inner__item-content-title
                    font-size: 16px
                    line-height: 20px
                    font-weight: 900
                    margin-bottom: 57px
                .v-rate-inner-list
                    margin-top: -25px
                    .v-rate-inner__text::before
                        top: 15px
                    .v-rate-inner__text
                        .content__text
                            font-size: 16px !important
                            font-weight: 400 !important
                            line-height: 24px !important
                .v-rate-inner__item-content-attention
                    margin-top: -20px
        &--gru
            .v-rate-inner__item
                .v-rate-inner__item-title
                    font-size: 38px !important
                    line-height: 38px

    .main-ban--faq
        background-image: url('../img/faq/bg.png')
        background-size: auto 300px
        background-position-y: 30px
        .main-ban__text
            h1
                width: 225px !important
                margin-top: 0
    .main-ban--contacts
        background: #F7F8FB url("../img/contacts/bg-mob.png")
        background-size: auto
        background-position: center
        background-repeat: no-repeat
        height: 548px
        margin-bottom: 20px
        h1
            margin-top: 386px
    .v-main_content
        padding-top: 0
        padding-bottom: 60px
    .v-hotline, .v-city-block, .v-metro
        position: relative
    .v-contact-block
        padding: 35px 20px 30px 65px
        height: auto
    .v-metro
        width: auto
        height: 165px
        padding: 62px 5px 20px 35px
    .v-review_wrapper
        align-items: flex-start
        text-align: left
    .right-block
        margin-left: 0
    .s-title--contacts:after
        display: none
    .s-title--contacts
        text-align: left
    .v-review_partnership
        position: relative
    .v-review_partnership:before
        content: ""
        width: 85vw
        height: 1px
        position: absolute
        border: 1px solid white
        top: -33px
        left: 0
    .left-block
        p, a
            font-size: 18px
            line-height: 150%
        p
            margin-bottom: 0
    .right-block
        p
            margin-bottom: 0
    .right-block  div:not(:nth-child(3))
        margin-bottom: 25px
    .v-review
        padding: 40px 0
    .v-hotline_tel-link, .v-city_name
        font-size: 16px
    .v-hotline
        margin-bottom: 26px
    .v-metro
        margin-left: -47px
    .v-hotline:before, .v-city-block:before, .v-metro:before
        content: ""
        position: absolute
        background-position: 0
        background-repeat: no-repeat

    .v-hotline:before
        top: 0
        left: -41px
        width: 17.5px
        height: 25px
        background: url(../img/contacts/phone.svg)
        background-size: 17.5px 25px

    .v-city-block:before
        top: 0
        left: -41px
        width: 20px
        height: 25px
        background: url(../img/contacts/location.svg)
        background-size: 20px 25px

    .v-metro:before
        top: 20px
        left: 20px
        width: 24.3px
        height: 17.1px
        background: url(../img/contacts/metro.svg)
        background-size: 24.3px 17.1px

    .v-city-block
        margin-bottom: 19px
    .v-hotline, .v-metro, .v-city-block
        position: relative
    .v-hotline_tel
        margin-bottom: 5px
    .v-city_name
        margin-bottom: 3px

    .s-configurator--corp
        .s-configurator__line
            &:nth-child(9)
                padding-top: 17px
                .s-configurator__cell
                    &:first-child
                        margin-bottom: 18px
                    &:last-child
                        padding-top: 9px
    .s-commerce--microsoft
        .s-commerce__title
            font-size: 29px
            line-height: 120%
            font-weight: 700
            padding: 29px 28px 23px

    .main-ban.object-storage
        background-position: 50% 17%
        background-size: 104% auto
        .main-ban__text
            padding-top: 166px
            h1
                padding-bottom: 28px
            p
                width: 100%
    .test-period
        .container
            background-size: 194px
            background-position: 93% 99%
        .btn-primary
            width: 100%
            height: 54px
    .architecture-storage_item.focus.first
        margin-right: 14px
    .problem-resolve_item
        flex-basis: calc(50% - 20px)
    .problem-resolve_item:nth-child(2n)
        margin-right: 0
    .problem-resolve_item:nth-child(2n+1)
        margin-right: 26px
    .problem-resolve_btn-bl
        flex-direction: column
        .btn
            margin-bottom: 30px
        p
            margin-left: 0

    .architecture-storage
        .s-title
            width: 100%

    .main-ban--protection
        padding-bottom: 38px
        background-image: url(../img/ddos/bg.png)
        background-size: auto 482px
        background-position: right -87px top -54px
        .main-ban__text
            padding-top: 348px
            h1
                width: 373px
                padding-bottom: 29px
            p
                width: 300px
    .microsoft-tariffs__slider--microsoft-enterprise
        .microsoft-tariffs__slide
            min-height: 576px
    .microsoft-tariffs__slider--enterprise
        .microsoft-tariffs__slide
            min-height: 650px
    .microsoft-tariffs__slider--business
        .microsoft-tariffs__slide
            min-height: 600px

    .main-ban--vacancy
        background-image: url(../img/vacancy/bg-mob.png)
        background-size: auto 42%
        height: 870px !important
        max-height: none
        background-position-x: center
        background-position-y: calc(0% + 83px)
    .main-ban__text--vacancy
        margin-top: -65px
        h1
            margin-bottom: 16px
    .vacancy_main-text
        font-size: 28px!important
        line-height: 33px !important
    .v-vacancy_title
        width: 86%
    .v-career_text
        font-size: 12px
        margin-bottom: 20px
        line-height: 150%
        width: 100%
    .v-career_mail
        font-size: 16px
        line-height: 150%
        font-weight: bold
    .v-vacancy
        margin: 60px 0 80px 0 !important
    .v-tell-us_title
        font-size: 34px
        line-height: 41px
    .v-tell-us_name, .v-tell-us_tel
        padding: 25px 21px
    .input-file__name:before
        color: black
        font-size: 10px
        padding-left: 4px
    .btn-red--vacancy
        width: 100%
        height: 54px
        font-size: 14px
        line-height: 21px
        margin-top: 0
    .v-tell-us
        padding: 60px 0
    .v-vacancy-description_wrapper
        p
            width: 425px
        li
            width: 425px
    .main-ban__text--antivirus
        padding-top: 85px
    .v-technical-feature_item , .v-technical-feature_item--hidden
        padding: 27px 10px 47px 103px!important
        height: auto
        background-position-y: 30px !important
        background-position-x: 19px !important
    .v-technical-feature_item:nth-child(1)
        background-size: 65px 66px
    .v-technical-feature_item:nth-child(2)
        background-size: 63px
    .v-technical-feature_item:nth-child(3)
        display: none
    .v-technical-feature_item:nth-child(4)
        background-size: 63px 67px
    .v-technical-feature_item--hidden
        display: flex
        align-items: center
        background-size: 63px 67px
        background-position-y: 25px !important
        border: 1px solid #CACCD2
        border-radius: 6px
        background-image: url("../img/antivirus/feature3.svg")
        background-repeat: no-repeat
        height: 110px
        margin-top: -14px
        p
            height: auto
    .v-advantages_item-text
        margin-top: 34px
    .v-advantages_item:nth-child(3)
        margin-bottom: 39px
    .v-advantages_item-text--marg
        margin-top: 44px
    .v-service-suggest_title
        font-size: 24px
        line-height: 29px
        white-space: nowrap
        padding-left: 0
        margin-bottom: 60px
    .v-service-suggest_item
        padding-left: 20px
    .object-storage--antivirus
        padding: 88px 0 19px 0



    .s-control--protection
        .s-control_block
            min-height: 110px

    .services-subscription__icon
        width: 60px
        height: 60px
    .form-bl--microsoft
        .label-input--col-3,
        .select-filter--microsoft
            width: 100%

    .main-ban--sdn
        background-image: url(../img/azure-stack-sdn/bg-min.png) !important
        background-position-y: top
        .main-ban__text
            h1
                letter-spacing: 1px
                width: 100%
                line-height: 1
                padding-bottom: 13px
            p
                max-width: 75%
    .s-excellence--cloud-administration,
    .s-excellence--cloud-realization
        padding-top: 79px
        .s-title
            font-size: 30px
            line-height: 36px
            margin-bottom: 36px
        .s-excellence__col
            flex-basis: calc(100%/2 - 50px/3)
    .s-excellence--cloud-realization
        padding-top: 90px
        margin-bottom: 0
        .s-excellence_extra
            font-size: 18px
            line-height: 22px
            margin-bottom: 14px
        .s-title
            margin-bottom: 44px
        .s-excellence__col
            flex-basis: calc(50% - 4px)
            img
                margin-bottom: 23px
    //.s-banners--cloud-administration.s-banners_mod
        //padding-top: 21px
        //.s-title
            //font-size: 30px
            //line-height: 130%
            //margin-bottom: 50px
    .s-banners--news.s-banners_mod
        padding-top: 60px
    .s-rate
        padding: 63px 0 0
        margin-bottom: 49px
        .s-title
            margin-bottom: 9px
        .proviso
            &__text
                font-size: 18px
                line-height: 22px
                margin-bottom: 28px
            li
                font-size: 14px
                line-height: 150%
                padding-left: 38px
                margin-bottom: 14px
                &:before
                    width: 26px
                    height: 26px
                    background-size: 100%
        &__wrapper
            margin-bottom: 0
        &__item
            margin-bottom: 16px
        &__feature
            ul
                padding: 60px 20px 25px 39px
            li
                font-size: 14px
                line-height: 17px

    .main-ban--storage
        background-image: url('../img/storage/bg-mob.png')
        background-position-x: calc(50% - 20px)
    .events-slider
        &__info
            font-size: 12px
            line-height: 18px

    .main-ban__text--key-vault
        h1
            padding-bottom: 20px !important
    .main-ban__text--key-vault
        padding-top: 452px
    .s-about_col--key-vault
        padding: 20px 10px 20px 0 !important
        span
            font-size: 22px !important
            line-height: 26px !important
        p
            font-size: 14px !important
            line-height: 21px !important
            margin-top: 16px !important
    .v-scenario_item
        width: 100%
        background-size: 65% !important
        padding: 30px 20px 238px 20px
        p
            width: 100%
            font-size: 14px
            line-height: 21px
        h3
            font-size: 22px
            line-height: 26px
            margin-bottom: 20px
    .s-about_content--key-vault
        padding-top: 0

    .s-scenario--iaas
        .s-scenario_list__item:last-child
    .s-features--iaas
        .s-features_list__title
            font-size: 22px
            line-height: 26px
    .s-banners--news
        .banner-slider--news
            .slick-dots
                margin-top: 30px
            .banner-slider__item--news
                padding: 30px 35px 30px 20px
                h3
                    margin-top: 181px
    .s-news-list
        padding: 60px 0 0
        margin-bottom: 62px
        &__filters
            margin-bottom: 40px
        &__wrapper
            margin-bottom: 31px
        &__btn
            .btn
                padding: 14px 60px 12px
    .s-news-item
        margin-bottom: 30px
        &__date
            font-size: 12px
            line-height: 150%
            top: 19px
            left: 22px
        &__text
            min-height: 129px
            padding: 29px 29px 29px 21px
        &__title
            font-size: 20px
            line-height: 24px

    .main-ban--sd-wan
        background-image: url(../img/sd-wan/bg-mob.png)
    .main-ban--event
        padding-bottom: 44px
        background-image: url(../img/event/bg-min.png)
        background-size: 100%
        background-position: center -77px
        .breadcrumbs
            flex-wrap: nowrap
            padding-left: 16px
            padding-bottom: 13px
        .breadcrumbs_item
            margin-right: 23px
            color: #CACCD2
            &:last-child
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
        .main-ban__text
            padding-top: 49px
    .main-ban--events
        background-image: url("../img/events/bg-mob.png")
    .main-ban__text--events
        margin-top: 27px
        padding-bottom: 282px
        padding-top: 0
    .events-slider__text
        .events-slider__info--events-block
            display: flex
            flex-direction: column
    .events-slider__type--events-block
        font-size: 12px
        line-height: 18px
        margin-bottom: 5px
    .events-slider__item--events-block
        h3
            font-size: 20px
            line-height: 24px
            margin-bottom: 20px
    .events-slider_link
        font-size: 14px!important
        line-height: 21px !important
    .s-clients--events
        .btn-red--events
            width: 100%
    .s-configurator__line--acronis-flex
        flex-wrap: nowrap
    .s-configurator-bottom_wrapper
        width: 100%
        margin-left: 0
    .s-configurator__cell--acronis-sum, .s-configurator__cell--acronis-last-sum
        margin-left: 0!important


    .main-ban--acronis
        background: #F7F8FB url(../img/acronis/bg-mob.png)
        background-repeat: no-repeat
        background-position: center calc(100% - 517px)
        background-size: 90%
    .main-ban__text--acronis
        padding-top: 487px !important
        margin-bottom: 0
    .main-ban__text--acronis
        h1, p
            width: 100%
    .consult-bottom_wrapper
        flex-direction: column
        height: 114px
        margin-top: 10px
        label
            margin-left: 0!important
    .s-commerce__title--acronis
        height: 82px !important
        font-size: 18px
        line-height: 22px
        font-weight: 900
        padding: 20px !important
    .s-article
        .video-player
            height: 183px

    .main-ban--news-detail
        background-image: url(../img/news-detail/bg-mob.png)
        background-position: right bottom
        padding-bottom: 55px

        .main-ban__text
            padding-top: 0

    .banner-slider__item.banner-slider__item--cloud-migration
        background-size: 100%

    .s-futheres--cloud-realization
        padding: 32px 0 48px
        .s-futheres_title
            margin-bottom: 20px
    .popular-services.popular-services--vdi .popular-services__item
        padding-bottom: 105px
        background-size: auto 150px
    .s-confines_item
        min-height: 510px
        img
            width: 58%
    .s-flexibility__item
        width: 100%
        margin-right: 0
        margin-bottom: 30px
    .s-price
        .item-two ul
            column-count: 1
        .s-price_applications
            max-height: none
            li
                width: 100%
                margin-right: 0
    .s-merge_left
        width: 100%
    .s-merge_right
        width: 40%
        margin-left: auto

    .main-ban--support
        background-image: url(../img/support/bg-mob.png)
        background-size: contain
        background-position: center top

    .s-catalog
        &__wrapper
            padding-bottom: 4px
        h1
            font-size: 42px
            line-height: 50px
            margin-bottom: 51px
        &__groupe
            margin-bottom: 39px
            &:last-child
                margin-bottom: 0
        &__top
            .s-title
                margin-bottom: 42px
                padding-right: 34px
        &__item
            min-height: 103px
            margin: 0 0 20px
        &__btn
            padding: 29px 20px 32px 34px
            span
                font-size: 22px
                line-height: 130%
            svg
                width: 19px
                height: 13px
    .s-catalog-back
        font-size: 14px
    .s-banners--services-catalog
        padding-bottom: 60px
        .s-title
            margin-bottom: 51px
        .banner-slider__item--services-catalog
            padding-right: 59px
    .video_row-item
        svg
            display: none
        .play_wrapper
            position: relative
        .play_wrapper:before
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 57px
            height: 57px
            background-image: url("/img/play.svg")
            background-repeat: no-repeat
            background-size: 100%
            background-position: center center
    .video-player__time--small
        bottom: 6%
        right: -92%
        position: relative
    .video_webinars
        .video-player__placeholder::before
            width: 60px
            height: 60px
            background-size: 100%
        .video-player__time
            font-size: 12px
            height: 18px
            padding: 0 4px
            line-height: 18px
            bottom: 13px
            right: 15px
        h3
            font-size: 20px
            line-height: 24px
            margin-bottom: 0
            padding-top: 10px
        .slider-one__text
            p
                font-size: 12px
                line-height: 18px
                margin-bottom: 20px
        .video-slider__type
            padding: 0 4px
        .video-view
            margin-left: 2px
        .video_share
            margin-right: -8px
    .main-video_content
        h2
            margin-top: 22px
    .main-ban--video
        padding-bottom: 0
    .main-ban__text--video
        padding-top: 0
        p
            font-size: 18px
            line-height: 27px
    .video_webinars
        padding-top: 0
        background-color: #F7F8FB
        .slider-one__text
            background-color: white
    .popup-video--inside
        .video-player__placeholder::before
            width: 60px
            height: 60px
            background-size: 100%
    .main-video_content--popup
        h2
            font-size: 20px
            line-height: 24px
        p
            font-size: 12px
            line-height: 18px
    .popup-video--inside
        .d-links__wrapper.active
            .d-links__social--video
                margin: 2px -139px
    .slider-one
        .d-links__wrapper.active
            .d-links__social--video
                margin: -104px -75px



    .s-catalog-element
        padding-bottom: 40px
        &__top
            margin-bottom: 53px
        .s-title
            font-size: 42px
            line-height: 50px
            margin-bottom: 30px
        &__description
            font-size: 16px
        &__item
            padding: 31px 20px 23px
            margin-bottom: 20px
        &__name
            font-size: 22px
            margin-bottom: 18px
            img
                width: 34px
                height: 34px
                margin-right: 11px
        &__info,
        &__transition
            font-size: 14px
        &__info
            padding-right: 0px
        &__transition
            svg
                width: 12px
                margin-left: 9px
        &--development
            padding-bottom: 60px
            .s-catalog-element
                &__item
                    margin-bottom: 0
                &__name
                    img
                        width: 40px
                        height: 30px
        &--professional &
            &__name
                height: auto
                img
                    margin-right: 20px
        &--corporate &
            &__top
                .s-title
                    font-size: 36px
                    line-height: 43px
            &__item
                padding: 31px 10px 22px 23px
            &__description
                padding-right: 10px
            &__name
                padding-right: 20px
                margin-bottom: 13px
            &__info
                padding-right: 14px
        &--storage &
            &__description
                padding-right: 27px
            &__name
                img
                    margin-right: 17px
        &--safety &
            &__name
                img
                    margin-right: 17px
        &--network &
            &__name
                img
                    margin-right: 18px
        &--calculative &
            &__top
                .s-title
                    font-size: 36px
                    line-height: 43px
            &__name
                img
                    margin-right: 16px
        &--support
            padding-top: 21px
        &--support &
            &__wrapper
                padding-top: 4px
            &__item
                min-height: 236px
                margin-bottom: 22px
                padding-bottom: 19px
                padding-right: 30px
            &__name
                margin-bottom: 13px
                img
                    margin-right: 17px
            &__transition
                margin-top: auto
        &--company &
            &__item
                min-height: 166px
        &--useful &
            &__item
                min-height: 186px
    .s-futures--soc
        .s-futures_item
            width: 100%
            margin-right: 0
            margin-bottom: 30px
        .s-futures_list
            max-height: none
    .main-ban--veeam
        background-size: 89%
        background-position: 58% -9%
    .e-package-item
        display: block
        &__name
            width: 100%
            margin-bottom: 20px
        &__wrapper
            width: 100%
    .s-configurator--veeam
        .s-configurator__cell
            &:first-of-type
                font-weight: 400
                width: 100%
            &:nth-child(2)
                font-weight: bold
                width: 100%
                text-align: start
                margin-top: 15px
    .s-about--about-page
        .s-about
            &_inner
                margin-bottom: 14px
            &_picture
                margin: 0 0 7px
            &_text
                font-size: 14px
                line-height: 21px
                p
                    margin-bottom: 22px
                h2
                    margin-bottom: 41px
    .s-brand
        &__img
            left: 50%
        &--partner
            .s-title
                font-size: 38px
                line-height: 46px
                margin-bottom: 69px
            .slick-slide
                img
                    width: 80%
            .s-brand__item
                min-height: 90px
                margin-bottom: 0px
            .slick-arrow
                bottom: -80px

    .main-ban--disaster
        background-image: url(../img/disaster/bg-mob.png)
        background-size: contain
        background-position: center top

        .main-ban__text
            padding-top: 400px

    .s-about--disaster
        .s-about_content
            padding-top: 60px
            padding-bottom: 60px

    .s-consult--commvault
        .consult-bottom_wrapper
            height: 107px
    .btn--error
        width: 100%

    .d-excellence--cdn
        .s-title
            font-size: 34px

    .d-banners--cdn
        padding-top: 0

        .d-banners__item
            h3
                padding-right: 0

            p
                padding-left: 0
                padding-right: 0

    .main-ban--cdn
        background-image: url(../img/cdn/bg-mob.png)
        background-size: auto
        background-position: center top

        .main-ban__text
            padding-top: 400px

    .problem-resolve
        .btn-primary
            width: 100%
            height: 54px
    .needhelp-storage
        .btn-primary
            width: 100%
            height: 54px
    .get-service
        .btn-primary
            width: 100%
            height: 54px
    .popular-services.s-virtual
        .btn-primary
            width: 100%
            height: 54px
    .cloud-migration
        .btn-primary
            width: 100%
            height: 54px
            margin-left: 0
    .video_webinars
        .slider-one__text
            p
                margin-top: 0

    .s-brand--technology-partners
        .slick-list
            margin: 0 -20px

        .s-brand__item
            padding: 0 20px

    .s-brand--technical-team
        .slick-list
            margin: 0 -20px

        .s-brand__item
            padding: 0 20px

    .s-brand--projects
        .slick-list
            margin: 0

        .s-brand__item
            padding: 0

    .main-ban--project-solution
        background-image: url('../img/project-solutions/bg-mob.png')
        background-size: 100% auto
        background-position: center top

        .main-ban__text
            padding-top: 400px

    .s-control--veeam_flex
        .s-control_list
            .s-control_block
                height: 82px!important
                margin-bottom: 10px
                .s-control_icon
                    width: 32px
                    height: 32px !important
                    img
                        width: 100%
                .s-control_desc
                    font-size: 12px
                    line-height: 14px
    .main-ban--hosting
        .main-ban__text--hosting
            padding: 348px 0 0 0
            .main-ban__btns
                align-items: center
                a
                    width: 100%
    .s-banners--hosting
        .banner-slider__item--hosting
            background-size: 54%
    .hosting_suggest
        padding: 30px 20px 20px 20px
        background-size: 84%
        background-position: center calc(100% - 20px)
        h2
            font-size: 18px
            line-height: 21px
            margin-bottom: 20px
            width: 100%
        p
            font-size: 14px
            line-height: 21px
            padding-bottom: 244px

    .v-configurator--hosting
        .v-mobile-configurator_general-wrapper
            .v-mobile-configurator_wrapper
                flex-basis: 100%
                .v-configurator_inner-wrapper
                    .v-configurator_content-line
                        .v-configurator_content-item:last-child
                            padding-left: 5px
    .v-configurator--hosting, .v-configurator--hosting2
        a
            width: 100% !important
            height: 54px !important
    .main-ban--price-list
        h1
            padding-bottom: 30px
            span
                font-size: 24px
                line-height: 29px
                padding-top: 15px

    .e-package--price-list
        .e-package-item
            display: flex
            flex-wrap: wrap
        .e-package-item__name
            flex-basis: 100%
        .e-package-item__column
            width: auto
        .e-package__segment--four
            .e-package-item__column:nth-child(3)
                padding-right: 0
                order: 4
            .e-package-item__column:last-child
                order: 2
                font-weight: normal
            .e-package-item__amount
                order: 3
                text-align: start
            .e-package-item__column
                flex-basis: 40%
            .e-package-item__name
                margin-bottom: 20px
                .tooltip
                    top: 0
                    right: 0
            .e-package-item__cost
                flex-basis: 60%
                span:first-child
                    margin-left: auto
                    margin-right: 0
        .e-package__segment > p:not(:first-of-type)
            padding-top: 26px

        .e-package__segment
            &--service 
                .e-package-item__cost
                    width: auto
                .e-package-item__column
                    width: auto
    .e-package--safe-content
        .e-package__segment > p:not(:first-of-type)
            padding-top: 0
    .e-package__note
        font-size: 14px
        line-height: 17px
        padding-top: 23px
    .e-package--data-storage
        .e-package__list--client
            .e-package-item
                padding: 22px 15px 16px 15px
                min-height: 96px
            .e-package-item__amount
                width: auto
            .e-package-item__cost
                width: auto
        .e-package__list--packet
            .e-package-item__cost
                width: auto
            .e-package-item
                padding: 22px 15px 16px 15px
        .e-package__list--commvault
            .e-package-item__cost
                width: auto
            .e-package-item
                padding: 22px 15px 16px 15px
        .e-package__list--object-storage
            .e-package-item
                padding: 22px 15px 18px 15px
            .e-package-item__cost
                color: #EC2227
        .e-package__list--tarification
            .e-package-item__cost
                color: #EC2227
    .e-package__list--copy
        .e-package-item__name
            padding-right: 30px
    .e-package--corporate-service
        padding-bottom: 25px
        h2
            margin-bottom: 40px
        .e-package__title
            margin-bottom: 30px
        .btn
            margin-bottom: 30px
        .e-package-item__cost
            color: #EC2227
        .e-package-item
            padding-bottom: 19px
        .e-package__segment--corporate-service
            margin-bottom: 38px
        .e-package__segment--virtual-desktops
            margin-bottom: 38px
            .e-package-item__column
                width: 100%
            .e-package-item__amount
                font-size: 14px
                line-height: 17px
                text-align: start
                margin-bottom: 20px
            .e-package-item__name 
                font-size: 14px
                line-height: 17px
                margin-bottom: 0
            .e-package-item
                padding-bottom: 20px
        .e-package__segment--disk
            .e-package-item__name
                font-size: 14px
                line-height: 17px
                padding-right: 20px
                .tooltip
                    top: -2px
                    right: 3px
    .e-package--safety 
        padding-bottom: 23px  
        h2
            padding-right: 40px
            margin-bottom: 40px
        .e-package-item:nth-child(2n-1)
            background: #F7F8FB
        .e-package-item:nth-child(2n)
            background: white
        .e-package__segment--antivirus
            margin-bottom: 38px
            .e-package__title
                margin-bottom: 30px
            .btn
                margin-bottom: 30px  
            .e-package-item__cost
                width: auto
        .e-package__segment--waf
            margin-bottom: 38px
            .price
                display: inline
            .e-package__title
                margin-bottom: 30px
            .btn
                margin-bottom: 30px 
            .e-package-item
                padding-top: 20px
                padding-bottom: 20px
            .e-package-item__name
                width: 100%
                flex-basis: 100%
                font-size: 14px
                line-height: 17px
                padding-right: 27px
            .e-package-item__column:nth-child(3)
                order: 2
                width: 100%
                flex-basis: 100%
                font-size: 14px
                line-height: 17px
                margin-bottom: 20px
            .e-package-item__amount
                order: 3
                flex-basis: 50%
                span
                    display: inline-block
            .e-package-item__column:last-child
                order: 4
            .e-package-item__cost
                flex-basis: 50%
                li
                    padding-left: 12px
                    &::before
                        left: 0
                        top: 8px
                li:not(:last-child)
                    margin-bottom: 10px
                &:last-child
                    padding-right: 0
                    font-weight: bold
        .e-package__segment--ddos
            margin-bottom: 40px
            .e-package__title
                margin-bottom: 30px
            .btn
                margin-bottom: 30px
            .e-package-item__cost
                width: 100%
                color: #EC2227
            .e-package-item__name
                margin-bottom: 18px
            .e-package-item
                padding-bottom: 20px
            .e-package__note
                padding-left: 0
                padding-top: 20px
                &:not(:first-child)
                    padding-top: 10px
        .e-package__segment--firewall
            .e-package__desc
                font-size: 14px
                line-height: 18px
                margin-bottom: 30px
            .e-package__title
                margin-bottom: 12px
            .btn
                margin-bottom: 30px
            .e-package-item__name
                width: 50%
                flex-basis: 50%
            .e-package-item__amount
                width: auto
                font-weight: 400
                .tooltip
                    display: inline-block
                    right: -2px
                    margin-left: 0px
            .e-package-item__cost
                width: auto
                margin-left: auto
            .e-package-item
                padding-bottom: 19px
            .e-package-item__name
                width: auto
                flex-basis: auto
    .e-package--azure-stack
        h2
            margin-bottom: 40px
        .e-package__segment--infrastrucutre
            margin-bottom: 38px
            .e-package__title
                margin-bottom: 20px
            .e-package-item__column
                flex-basis: 50%
            .e-package-item__amount
                order: 1
                font-weight: bold
                margin-bottom: 20px
            .e-package-item__column:nth-child(3)
                order: 2
                font-weight: 400
                justify-content: flex-end
            .e-package-item__name
                order: 3
                font-weight: 400
                margin-bottom: 0
                flex-basis: 48%
            .e-package-item__column:last-child
                order: 4
                font-weight: bold
                justify-content: flex-end
                flex-basis: 52%
            .e-package-item__cost
                span:first-child
                    margin-left: 10px
            .e-package-item
                padding: 20px 15px 19px
        .e-package__segment--data
            .e-package__title
                padding-right: 55px
                margin-bottom: 13px
            .e-package__desc
                padding-right: 0
                margin-bottom: 20px
            .e-package-item__name
                order: 2
                font-weight: 400
                margin-bottom: 0
                flex-basis: 50%
                span
                    display: inline
            .e-package-item__column:last-child
                order: 3
                font-weight: bold
                flex-basis: 50%
                justify-content: flex-end
                .tooltip
                    margin-left: 10px
            .e-package-item__amount
                display: none
            .e-package-item__column:nth-child(3)
                order: 1
                flex-basis: 100%
                font-weight: bold
                margin-bottom: 20px
    .e-package--gpu
        padding-bottom: 23px
        h2
            margin-bottom: 40px
        .btn
            margin-bottom: 40px
        .e-package-item:nth-child(2n-1)
            background: #F7F8FB
        .e-package-item:nth-child(2n)
            background: white
        .e-package__segment--pull
            .e-package-item
                padding-top: 20px
                padding-bottom: 20px
                .tooltip
                    margin-left: 10px
            .e-package__title
                margin-bottom: 20px
            .e-package-item__name
                flex-basis: 100%
                padding-right: 25px
                margin-bottom: 14px
            .e-package-item__amount
                order: 2
                font-weight: bold
                flex-basis: 100%
                margin-bottom: 20px
            .e-package-item__column:nth-child(3)
                order: 3
                flex-basis: 100%
                margin-bottom: 18px
            .e-package__price-wrapper
                display: flex
                justify-content: space-between
                width: 100%
            .e-package__price-name
                display: inline-block
                font-weight: 400
            .e-package-item__column:last-child
                order: 4
                flex-basis: 100%
                .e-package__price
                    color: #EC2227
                    font-weight: bold
            .e-package-item__cost span:first-child
                margin: 0
            .e-package-item__cost span
                margin: 0
            .e-package__note
                padding-top: 20px
    .e-package--kubernetes
        h2
            margin-bottom: 40px
        .e-package__title
            margin-bottom: 20px
        .e-package-item
            padding-bottom: 19px
        .e-package-item__name
            .tooltip
                right: 5px
                top: 2px

    .main-ban--one-c
        .main-ban__text--hosting
            padding: 358px 0 0 0
            .main-ban__btns
                align-items: center
                a
                    width: 100%
    .special-section--object
        padding-bottom: 80px

    .s-control--office-work-kit
        .s-control_block
            height: auto
            margin: 0
            min-height: 82px
            padding: 19px 10px 19px 20px !important

            &:not(:last-child)
                margin: 0 0 10px

        .s-control_icon
            width: 32px
            min-width: 32px
            height: 32px
            margin: 0 19px 0 0

    .main-ban--office-work-kit
        background-image: url('../img/office-work-kit/bg-mob.jpg')
        background-size: 100% auto
        background-position: center -143px

        .main-ban__text
            padding-top: 393px

    .configurator--sap
        padding: 40px 0
        .s-title
            font-size: 28px
            line-height: 34px
            letter-spacing: -0.02em
    .s-features--orchestration
        .s-features__block
            padding: 30px 20px
        .s-features_list__title
            font-size: 22px
            line-height: 26px
        .s-features__desc
            font-size: 14px
            line-height: 150%
        .s-features__text
            font-size: 18px
            line-height: 23px
        .s-features__img
            height: 220px
    .b-possibilities__text
        font-size: 18px
        line-height: 23px
        margin-bottom: 40px
    .b-possibilities__subtitle
        font-size: 26px
        line-height: 31px
        margin-bottom: 40px
    .b-possibilities
        .num
            font-size: 22px
            line-height: 26px
        .text
            font-size: 14px
            line-height: 150%
        .why-mts-slider_item
            min-height: 364px
            padding: 30px 20px
        .why-mts-slider--orchestration
            .why-mts-slider_item
                background-size: auto 216px
    .b-our-work__item
        padding: 15px 20px 11px
    .b-our-work__item-icon
        width: 46px
        height: 46px
        margin-right: 15px
    .b-our-work__item-title
        font-size: 14px
        line-height: 17px
    .b-our-work__item-text
        font-size: 12px
        line-height: 14px
    .b-our-work__text
        font-size: 16px
        line-height: 21px
        margin-bottom: 40px
    .b-our-work--infrastructure
        .b-our-work__item
            padding: 13px 15px
        .b-our-work__item-icon
            width: 47px
            height: 47px
            margin-right: 16px
        .b-our-work__item-title
            font-size: 18px
            line-height: 22px
            margin: 0
    .s-consult
        .checked
            left: 0
            width: 30px
            height: 30px
        .check-label input:checked + .checked svg
            width: 15px
            height: 15px
        .text
            font-size: 12px !important
        .consult-bottom_wrapper
            margin-top: 14px
        .check-label
            padding-left: 26px
    .s-about
        .s-about_content--private-cloud
            .s-about_text--cmk
                margin-bottom: 40px
                p
                    font-size: 14px
                    line-height: 150%
    .s-control--private
        .s-control_block
            padding: 20px
    .s-pros--private
        .s-pros__block--icon
            width: 45px
            height: 45px
            margin-right: 23px
        .s-pros__block--text
            font-size: 18px
            line-height: 150%
        .s-pros__block--item
            padding-bottom: 10px
    .s-banners--consulting
        .banner-slider__item
            min-height: 425px
            padding: 25px
        .s-banners__title
            font-size: 21px
            line-height: 25px
            margin-bottom: 15px
    .b-potential__text
        font-size: 18px
        line-height: 150%
    .b-potential__description
        font-size: 16px
        line-height: 19px
    .b-potential__item
        min-height: 264px
        margin-bottom: 40px
    .b-potential__btn
        width: 100%

    .b-ul--services-case
        width: 100%
        margin-right: 0
    .b-services-case__content
        flex-wrap: wrap
    .s-control--infrastructure
        .s-control_block
            margin-bottom: 12px !important
            padding: 24px
            &::before
                width: 44px
                height: 44px
                margin-right: 16px
        .s-control_desc
            font-size: 14px
            line-height: 150%
    .s-solutions
        .slick-list
            margin: 0 -20px
        .b-slider-vendors__item
            margin: 0 20px
    .s-solutions--infrastructure
        .s-solutions__text
            font-size: 16px
            line-height: 21px
        .btn
            width: 100%
            height: 54px
    .s-cases--journey
        .b-services-case__content
            margin-right: 0

    .s-control--journey
        .s-control_list
            .s-control_block
                .s-control_icon
                    img
                        width: auto

    .s-features--journey
        .s-features__img
            height: 40%
        .s-features__block
            min-height: 366px

    .s-banners--journey
        .btn
            width: 100%
            height: 54px

    .s-rate--cloud-administration
        padding: 0 0 60px
        margin: 0

    .s-banners--cloud-administration.s-banners_mod
        padding: 0 0 60px

        .s-title
            font-size: 30px
            margin: 0 0 47px
            line-height: 39px

    .s-excellence--cloud-administration
        padding: 0 0 33px

        .s-title
            margin: 0 0 29px

    .d-request
        .btn
            width: 100%

    .s-commerce--audit
        padding-bottom: 43px
        .s-commerce__title
            padding: 30px 23px
    .s-solutions--information-security
        .b-slider-vendors
            .slick-arrow
                bottom: 50px

    .main-ban
        &--cloud-administration
            background-image: url('../img/cloud-administration/bg.png')
            background-size: 100% auto
            background-position: center 4%
            padding-bottom: 40px

            .main-ban__text
                padding-top: 400px

                h1
                    font-size: 48px
                    line-height: 50px
                    padding: 0 0 30px

    .s-excellence--cloud-migration
        .s-excellence_image
            left: 50%
            margin: 0 0 0 -188px
            max-width: 375px
            position: relative

        .s-excellence_image--desktop
            display: none

        .s-excellence_image--mobile
            display: block