@media screen and (max-width: 1199px )
    .line
        &::after
            right: 17%
    .s-banners.s-banners_mod.partner-page
        h3
            br
                display: none
    .s-control.partner-page.adv
        h3
            br
                display: none
    .support
        .s-control_block
            min-height: 135px
    .s-components__list
        margin: 0 -10px
    .s-components__item
        margin: 0 10px
    .s-control__info
        padding-right: 0
    .s-control
        &_block
            flex-basis: calc(50% - 20px)
            &:first-child
                margin-right: 40px
        &--iaas
            .s-control_block:last-child,
            .s-control_block:nth-child(2),
            .s-control_block:first-child
                width: calc(33.33% - 27px)
                margin-right: 40px
                padding: 20px
            .s-control_block:last-child
                margin-right: 0
            .s-control_desc
                font-size: 16px
                line-height: 24px
        &--infrastructure
            .s-control_block
                margin: 0 20px 40px
                padding: 30px 25px
    .popular-services
        padding-bottom: 60px
        &__item
            width: 47%
        &-iaas
            .popular-services__item
                width: calc( 100% / 3 - 26px )
            h3
                min-height: 84px
                margin-bottom: 20px
        &.popular-services--vdi
            .popular-services__item
                height: 815px
                padding-bottom: 230px
                background-size: auto 220px
    .s-clients,
    .s-events
        padding: 80px 0
    .s-articles,
    .s-video,
    .s-news
        padding-bottom: 80px
    .news-slider
        b
            font-size: 20px
    .video-slider
        h3
            padding-top: 5px
    .video-slider h3,
    .articles-slider h3
        font-size: 22px

    .banner-slider__item
        padding: 40px
        &--cloud-migration
            padding-bottom: 100px
            background-size: 80%

    .banner-slider__item--agent
        background-size: auto 175px
    .banner-slider__item--cmk
        background-size: auto 175px
    .banner-slider__item--profit
        background-size: auto 130px
        background-position: 265px center
        padding-right: 180px
        height: 340px
    .special
        height: 300px
    .special__date
        font-weight: 700
        font-size: 12px
        line-height: 150%
        border-radius: 100px
        padding: 0px 7px
        margin-bottom: 20px
    .special__title
        font-weight: 900
        font-size: 20px
        line-height: 24px
        margin-bottom: 20px
    .special__description
        font-size: 12px !important
        line-height: 150% !important
        padding-bottom: 30px !important
    .special__wrapper
        padding-left: 0
    .special__logo
        bottom: 227px
    .special__slogan
        bottom: 155px
    .s-control--agent .s-control_icon
        min-width: 32px
        width: 32px
        height: 32px
        margin-right: 15px
    .s-control_desc

        .s-control--agent &
            font-size: 12px
            line-height: 1.2
    .s-control--agent .s-control_block
        padding: 20px
        height: 110px
    .s-available-service__item
        flex-basis: calc(50% - 20px)
        &:nth-child(3n)
            margin-right: 0
        margin-right: 40px !important
        &:nth-child(2n)
            margin-right: 0 !important
    .s-about--cmk .s-about_top-container,
    .s-about_top-container--private
        height: auto
    .s-about--cmk .s-about_top
        flex-wrap: nowrap
    .s-about--cmk .s-about_top-item
        margin-right: 20px
    .s-about--iaas
        .s-about_content
            padding-top: 80px
    .s-about--about-page
        .s-about
            &_inner
                flex-direction: column
            &_text
                width: 100%
    .s-control--cmk .s-control_block
        height: 140px
    .s-commerce--cmk .s-commerce__items
        padding-right: 35px
    .s-commerce--infrastructure
        .s-commerce__title
            font-size: 22px
            line-height: 26px
            padding-left: 30px
        .s-commerce__element
            font-size: 18px
            line-height: 22px
            letter-spacing: -1px
            margin-bottom: 16px
        .s-commerce__items
            padding-bottom: 60px
            padding-left: 45px
    .s-commerce--configurations
        .s-commerce__title
            background-position: center
            font-size: 22px
            line-height: 28px
        .s-commerce__subtitle
            font-size: 18px
            line-height: 24px
        .s-commerce__element
            font-size: 18px
            line-height: 24px
        .btn
            height: 54px
    .s-control--cmk-3 .s-control_block
        flex-basis: calc(50% - 20px)
        margin-right: 40px
        height: 130px
        &:nth-child(3n)
            margin-right: 40px
        &:nth-child(2n)
            margin-right: 0
    .s-configurator__wrap
        flex-wrap: wrap
    .s-configurator__table
        width: 100%
    .s-configurator__cart
        flex-direction: row
        flex-wrap: wrap
        width: 100%
        margin-left: 0
        padding: 68px 115px 40px
    .s-configurator__group
        flex-basis: calc(50% - 20px)
    .s-configurator .btn
        width: 353px
    .s-configurator--corp
        .s-configurator__cart
            padding-left: 30px
            padding-right: 30px
        .s-configurator__group
            &:first-child
                flex-direction: column
        .s-configurator__cart-title
            font-size: 22px
            line-height: 130%
            margin-bottom: 11px
            padding-top: 0
        .s-configurator__total
            margin-bottom: 27px
    .s-hosting_desc
        padding-right: 140px
    .s-hosting_block
        background-position: right bottom
        background-size: auto 60%
    .s-tarification_title
        padding-right: 0
    .s-interface__info
        font-size: 20px
    .cloud-arch
        flex-direction: column
        .cloud-arch__text-content
            .cloud_arch__title
                font-size: 36px
            .cloud-arch__content
                font-size: 18px
        .cloud-arch__images
            padding-left: 0
            justify-content: space-between
            .images-cisco, .images-dell, .images-net-app
                margin-right: 61px
    .advantages
        overflow: hidden
        padding: 100px 0
        .advantages__title
            font-size: 36px
            padding-bottom: 40px
        .advantages__list
            .advantages__item
                .item__text
                    font-size: 24px
                .item__text
                    font-size: 18px
            .advantages__item--bg1:before
                left: 27%
                width: 10%
                height: 10%
            .advantages__item--bg2:before
                left: 79%
                top: 17%
                width: 10%
                height: 10%
    .configurator
        &__text
            font-size: 20px
    .d-payment
        &_block
            flex-basis: calc(50% - 20px)
            &:first-child
                margin-right: 40px
        &_desc
            font-size: 22px
    .s-futheres
        &_text
            padding-right: 0
            font-size: 20px
        .btn
            position: absolute
            bottom: 50px
    .configurator .container
        flex-direction: column
    .configurator__text-wrapper
        width: 100%
        text-align: start
        margin-bottom: 30px
        margin-right: 0
    .configurator__buttons-wrapper
        width: 100%
    .configurator__buttons-wrapper .btn
        flex-basis: calc(50% - 20px)
    .special--waf
        height: auto
        .special__wrapper
            padding-top: 20px
        .special__image-wrap
            height: 286px
        .special__description
        .special__title
            font-size: 20px
            line-height: 24px
        .special__wrapper
        .btn
            height: 65px
    .special--waf
        .special__image-wrap
            height: auto
    .special-section--reseller
        .btn
            height: 65px
    .s-control--waf
        .s-control__info
            padding-right: 0
        .s-control_block
            height: 145px
    .main-ban--infrastructure
        background-size: auto 450px
        background-position: calc((100vw - 951px) * (750 - 530) / (1199 - 951) + 530px) 180px
        .main-ban__text
            margin-top: 70px
    .main-ban--orchestration
        background-position-x: calc((100vw - 951px) * (650 - 470) / (1199 - 951) + 470px)
    .main-ban--cmk
        background-position-x: calc((100vw - 951px) * (270 - 140) / (1199 - 951) + 140px)
        background-position-y: 175px
        background-size: auto 65%
        .main-ban__text
            width: 600px
    .main-ban--reseller
        background-size: auto 90%
        .main-ban__text
            p
                padding-right: 105px
    .main-ban--partner
        background-size: auto 90%
        background-position: right top
        .main-ban__text
            p
                padding-right: 146px
    .main-ban--agent
        background-size: auto 692px
        background-position: calc((100vw - 951px) * (-225 + 330) / (1199 - 951) - 330px) 69px
        .main-ban__text--agent
            width: 477px
    .main-ban--datacenter
        background-size: auto 700px
        background-position: calc((100vw - 951px) * (100 + 100) / (1199 - 951) - 100px) center
    .main-ban--self-service
        background-position: calc((100vw - 951px) * (-20 + 155) / (1199 - 951) - 155px) 180px
        .main-ban__text
            width: 480px
    .main-ban--waf
        background-position-x: calc((100vw - 951px) * (235 - 100) / (1199 - 951) + 100px)
    .main-ban--microsoft
        background-size: auto 58%
        background-position-y: 190px
        .main-ban__text
            margin-top: 85px
    .main-ban--private
        background-size: auto 62%
        background-position-y: 195px
        .desktop-hide
            padding-bottom: 50px
    .main-ban--vdi
        background-position-x: calc(100% - 10px)
        background-position-y: 280px
        background-size: auto 53%
        .main-ban__btns
            flex-wrap: wrap
            max-width: 273px
            .btn
                width: 100%
                margin-bottom: 15px
    .main-ban--information-security
        background-position-x: calc((100vw - 951px) * (235 - 100) / (1199 - 951) + 5px)
    .special-section--reseller .special__slogan
        bottom: 192px
    .s-futures_item
        height: 190px
    .main-ban--marketplace
        // min-height: calc(100vh - 100px)
        // background-size: 30%
        .main-ban__btns
            flex-wrap: wrap
            max-width: 365px
            .btn
                width: 100%
                margin-bottom: 20px
    .main-ban--gru
        background-position: 93% 91%
    .main-ban--laas
        background-position: calc(100% - -158px) 71%
    .main-ban--firewall
        background-size: auto 600px
        background-position: 50% 80px
        .main-ban__text
            padding-top: 450px
    .main-ban--faq
        background-size: 527px
        background-position: 74% 65%
        .main-ban_tabs__block--faq
            width: 100%
        .main-ban__text
            h1
                margin-top: 50px

    .main-ban--cloud
        background-position: right center
    .main-ban--iaas
        background-size: auto 60%
        background-position-x: calc(100% + 20px)
        background-position-y: 245px
        .main-ban__text
            p
                max-width: 400px
        .main-ban__btns
            flex-wrap: wrap
            max-width: 273px
        a.btn
            width: 100%
            margin-bottom: 15px
    .main-ban--cloud-administration
        background-position: 65% 65px
        background-size: cover
    .main-ban--cloud-realization
        //background-position: 62% -16px
        //background-size: cover
        background-size: auto 80%
        background-position-x: calc(100% + 138px)
    .gru-info
        &__text
            margin-right: 25px
            width: 630px
        &__wrapper
            width: 600px
        &__image
            margin-top: -20px
    .s-control--gru
        .s-control__text
            width: 100%
    .v-rate
        .add-info
                display: flex
                flex-direction: column
                padding-bottom: 15px
                .add-info__item
                    padding-bottom: 15px

    .v-rate
        .v-rate-inner__item
            .v-rate-inner__item-content
                .content__text--tooltip
                    .up-num
                        display: inline-block
                    .help-icon
                        display: none

    .container
        .v-rate-inner
            .v-rate-inner__item
                .v-rate-inner__item-title
                    font-size: 24px
                .v-rate-inner__item-content
                    .v-rate-inner__text:not(:first-child)
                        padding: 8px 0
                    .v-rate-inner__text:first-child
                            padding-bottom: 8px
                    .v-rate-list span
                            font-size: 16px
    .v-rate--gru
        .v-rate__subtitle
            width: 100%
        .v-rate-inner__item
            .v-box__price
                font-size: 58px
        .v-rate__subnote
            span
                width: 80%
    .s-clients--gru
        .s-clients__text
            width: 100%
    .s-documents--gru
        .s-documents__text
            width: 100%

    .s-available-service__item:nth-child(2)
        // padding-left: 40px
        // img
        //     margin-right: 25px

    .s-control--private
        .s-control_block
            height: auto
    .s-capabilities
        &__block
            margin: 0 -20px
            &--item
                flex-basis: unset
                width: 45%
                margin: 0 20px
                margin-bottom: 20px
    .s-interest
        padding-bottom: 70px
        &__block
            justify-content: space-between
            &--item
                width: 45%
                margin: 0
    .data-info
        &__title
            font-size: 36px
        &__text
            font-size: 22px
            padding-right: 0

    .certificates
        padding-bottom: 0
        &__title
            font-size: 36px
        &__item
            width: calc(50% - 20px)
            margin-bottom: 44px
        &--about-page
            .slick-dots
                top: 94%
        &--awards
            padding-bottom: 80px

    .certificates--cloud-administration,
    .certificates--cloud-realization
        .slick-arrow
            background: #F7F8FB
        .slider-timer-b
            border-color: #ffffff
        //     &.slick-prev
        //         bottom: -115px
        //         left: 0
        //     &.slick-next
        //         bottom: -115px
        //         left: 100px
        .certificates__item
            margin-bottom: 0

    .rent-services
        padding-bottom: 60px
        &__item
            width: 47%
    .power
        &__title
            font-size: 36px !important
            line-height: 40.8px !important
            width: 100% !important
        .power__list
            .power__item
                width: 292px
                padding: 15px

    .technical-features--firewall
        .technical-features
          &__block--img
              margin-left: 0
          &__block--text-wrap
              max-width: 350px
    .table
        &__th
            font-size: 18px
            span
                width: auto
                max-width: 305px
    .main-ban--corp-email
        background-position-x: calc(100% - 69px)
    .main-ban_wrapper--corp_email
        display: flex
        flex-direction: column
        .main-ban_tabs-top--corp-email
            margin: -34px 0 0 0
    .main-ban__text--corp-email
        margin-top: 70px
    .main-ban_tabs-top--corp-email:not(.fixed)
        top: -50px
    .main-ban--corp-email
        background-position-y: 204px!important
    .main-ban__text--corp-email
        padding-right: 100px
    .main-ban__btns--corp-email
        align-items: self-start
        height: 150px
        flex-direction: column
    .v-opportunity__row
        flex-direction: column
        .v-opportunity__item
            flex-basis: 100%
            padding: 50px 294px 87px 50px
        .v-opportunity__item:nth-child(1)
            margin-right: 0
            margin-bottom: 40px

    .d-excellence
        &__item
            padding: 30px
            min-height: 251px

    .v-numbers_row
        .v-numbers_item
            padding-right: 50px
    .we-offer
        padding-bottom: 80px
    .s-control.cloud-service 
        padding-bottom: 40px
        .s-control_block
            flex-basis: calc(33.33% - 27px)
            padding: 20px
            margin-right: 40px
            min-height: 126px
            .s-control_desc
                font-size: 14px
            &:nth-child(3n)
                margin-right: 0
    .cloud-migration
        padding-bottom: 80px
        button.btn
            padding: 25px 50px
        &_items
            margin-right: 0
        &_item
            flex-basis: calc(30%)
            font-size: 16px
            margin-right: 30px
    .s-control.remote-workplaces
        padding-bottom: 60px
        h3
            br
                display: none
    .popular-services.remote-work.s-virtual
        padding-bottom: 80px
        .popular-services__item
            width: 32%
        .popular-services__img
            width: 70%
        .popular-services__check
            padding-top: 35px
    .configuration
        .privileges_text
            p
                span
                    display: block
    .s-banners.s-banners_mod.remote-work.virtual-workplace
        padding: 60px 0
    .popular-services.remote-work.more-possibilities
        padding-top: 60px
    .main-ban.remote-work-bg
        height: auto
        background-size: auto 700px
        background-position-x: calc((100vw - 951px) * (-150 + 300) / (1199 - 951) - 300px)
        background-position-y: 0px
        .main-ban__text
            margin-top: 60px
            padding-top: 60px
    .form-block
        flex-wrap: nowrap
    .form-block__2
        flex-basis: calc(66% - 11px)
    .s-excellence--gru
        .s-excellence__item
            min-height: 180px
    .s-excellence--cloud-administration,
    .s-excellence--cloud-realization
        padding: 80px 0 0
        .s-excellence
            &_row
                flex-wrap: wrap
            &__col
                margin-bottom: 27px
    .d-banners
        p
            width: 50%
    .d-services
        &__item
            padding-right: 50px
            h3
                font-size: 25px
            p
                margin-bottom: 150px

    .s-consult--laas
        .s-title
            font-size: 36px
            line-height: 43.2px

        .s-consult__text
            font-size: 18px
            line-height: 23px

    .s-consult--sd-wan
        padding-bottom: 80px

        .s-title
            font-size: 34px
            line-height: 41px
            margin-bottom: 20px

            span
                font-size: 28px
                line-height: 34px
                margin-top: 20px

        .s-consult__text
            font-size: 18px
            line-height: 23px

        .consult-form
            .input-file
                margin-bottom: 30px

            .s-consult__button
                flex-direction: column-reverse
                align-items: flex-start

                .btn
                    margin-right: 0

                .check-label
                    margin-bottom: 30px

    .main-ban_tabs-top
        margin-top: 0
    .main-ban_tabs-top--cmk
        margin-top: -85px
        margin-bottom: 50px
        .main-ban_tabs__item
            max-width: 110px
        a
            font-size: 16px
    .main-ban_tabs-top--data-center
        margin: 50px 0 0
    .main-ban_tabs-top--remote
        margin-top: 20px
        margin-bottom: 50px
        .main-ban_tabs__item
            max-width: 132px
        a
            font-size: 16px
    .main-ban_tabs-top--self
        margin-top: -70px
        .main-ban_tabs__item
            max-width: 134px
        a
            font-size: 16px
    .main-ban_tabs-top--waf
        margin-bottom: 50px
        .main-ban_tabs__item
            max-width: 158px
        a
            font-size: 16px


    .main-ban--contacts
        h1
            margin-top: -40px
    .v-main_content
        padding: 60px 0
    .s-title--contacts
        width: 375px !important
    .right-block
        flex-direction: column
        justify-content: space-between
        align-items: baseline
    .right-block > div
        display: flex
        align-items: baseline
        width: 458px
        margin-right: -60px
        p
            margin-right: 30px

    .v-review_hr
        p
            margin-right: 180px
    .v-review_partnership
        p
            margin-right: 150px
    .s-title--contacts:after
        left: 112%
        height: 189px
        top: 0
    .right-block
        margin-right: -70px

    .iso-conn.advantages-s3
        .advantages-s3_item
            flex-basis: calc(50% - 20px)
            &:nth-child(3n)
                margin-right: 40px
            &:nth-child(2n)
                margin-right: 0
    .cloudvpn-interconnect
        .advantages-s3_item
            flex-basis: calc(50% - 20px)
            &:nth-child(3n)
                margin-right: 40px
            &:nth-child(2n)
                margin-right: 0
        .cloundvpn-direct-conn
            &_item
                height: 160px
    .s-pros--firewall
        margin: 0

    .special-section--isolate
        .btn
            height: 58px
        .special__slogan
            bottom: 190px
    .main-ban_tabs-top--isolate
        margin-top: 40px
    .main-ban.isolate-connections
        background-position-x: calc(100% + 50px)
        background-position-y: 158px
        background-size: auto 65%
    .main-ban.object-storage
        background-position: 350px 50%
    .advantages-s3--object-storage
        .advantages-s3_item
            margin-right: 30px
    .problem-resolve
        &_item
            margin-right: 30px
            padding: 28px 30px
            min-height: 167px
    .architecture-storage_item.focus.first
        margin-right: 43px
    .test-period
        &_item
            margin-right: 35px
        p.s-subtitle
            br
                display: none
        .container
            background-size: 320px
    .needhelp-storage
        p
            br
                display: none
    .microsoft-features__item
        &:last-child,
        &:first-child,
        &:nth-child(2)
            width: calc(33.33% - 27px)
            margin: 0 20px
    .microsoft-advantages__item
        width: calc(50% - 40px)
        min-height: 252px
    .s-commerce__desc
        padding-bottom: 40px

    .s-control--conditions
        padding: 80px 0 60px // 80px 0 80px

        .s-title
            margin: 0 0 40px
            max-width: none

    .s-banners--cloud
        padding: 0 0 80px

        .s-title
            margin: 0 0 40px
            max-width: none

    .s-control--design
        padding: 0 0 60px // 0 0 80px

        .s-title
            margin: 0 0 20px
            max-width: none

        .s-control__info
            margin: 0 0 40px
            max-width: none

    .s-control--location
        padding: 0 0 80px

        .s-title
            margin: 0 0 20px
            max-width: none

        .s-control__info
            margin: 0 0 40px
            max-width: none

    .s-configurator--cloud
        padding: 60px 0 80px

        .s-title
            margin-bottom: 40px

        .s-configurator__table
            margin-bottom: 40px

        .s-configurator__table-wrapper
            margin-bottom: 40px

        .s-configurator__group-wrapper
            flex-basis: calc(50% - 20px)

        .s-configurator__cart
            align-items: center
            justify-content: space-between

        .s-configurator__group
            flex-basis: auto

            .btn
                width: 100%

            .s-configurator__total
                margin: 0

        .s-configurator__group:not(:last-child)
                margin: 0 0 20px

    .s-documents--cloud
        padding: 0 0 80px

    .s-events--cloud
        padding: 0 0 80px

    .main-ban--protection
        background-position: right -132px bottom
        background-size: 100%
    .microsoft-tariffs__slider--microsoft-enterprise
        .microsoft-tariffs__slide
            min-height: 576px
    .s-video--full
        .video-player
            height: 340px

    .main-ban--vacancy
        background-image: url(../img/vacancy/bg.png)
        background-size: auto 60%
        height: 927px
        max-height: none
        background-position-x: center
        background-position-y: calc(0% + 70px)
    .vacancy_main-text
        margin-bottom: 30px !important
    .main-ban__text--vacancy
        margin-bottom: 0
        height: 327px
        margin-top: 393px
    .v-tell-us
        padding: 60px 0 76px 0
    .v-tell-us_title
        margin-right: 45px
        flex-basis: 46.3%
    .v-career_title
        font-size: 23px
        margin-bottom: 20px
    .v-career_content
        padding-top: 25px
    .v-career_title:before
        top: 165px
        left: 77%
    .v-career_text
        margin-bottom: 23px

    .v-vacancy-description_wrapper
        p
            width: 900px
        li
            width: 900px

    .s-control--protection
        .s-control_block
            min-height: 110px
    .services-subscription__service
        &--exchange
            .services-subscription__feature
                width: calc(50% - 40px)
    .services-subscription__wrap
        min-height: 70px

    .s-documents--key-sql
        padding: 60px 0 80px

    .s-excellence--key-sql
        padding: 0 0 80px

    .s-about--key-sql
        padding: 60px 0 80px

        .s-about_content
            padding-bottom: 40px
    .form-bl--microsoft
        .label-input--col-3,
        .select-filter--microsoft
            width: calc(50% - 10px)
    .s-excellence--wep-app
        .s-excellence__col
            margin-right: 75px
        .s-excellence__item
            min-height: 203px
    .s-banners--structure
        .banner-slider__item
            background-size: auto 35%
    .s-banners-iaas
        .banner-slider__item
            height: 375px
    .s-about_top__item--antivirus:not(:nth-last-child(1))
        margin-right: 40px
    .main-ban--antivirus
        height: auto!important
        background-position-x: calc(100% + 60px)
    .main-ban__btns--antivirus
        width: 100%
        display: flex
        flex-direction: column
        align-items: flex-start
        a:nth-last-child(1)
            margin-top: 40px
    .main-ban__text--antivirus
        margin-top: 120px
    .v-technical-feature_item
        p
            width: 255px
            font-size: 14px
    .v-technical-feature_item:nth-child(4), .v-technical-feature_item:nth-child(3)
        margin-top: -14px
    .v-advantages_item-text
        width: 381px
        margin-top: 25px
    .v-advantages_item
        padding: 29px 29px 56px 29px
    .v-service-suggest_wrapper
        padding: 260px 100px 17px 37px
        background-position: center 20px
        background-size: 31%
    .s-title--antivirus-feedback
        font-size: 24px!important
    .form-block__1--antivirus
        p
            font-size: 16px !important
            line-height: 26px !important
    .page-nav
        flex-wrap: wrap
        .main-ban_tabs-top
            margin-left: auto
    .main-ban--web-app
        background-size: auto 60%
        background-position-x: calc(100% - -30px)
        background-position-y: 265px
        .main-ban__text
            width: 510px

    .s-banners--skype
        padding: 60px 0 80px

        .s-title
            margin-bottom: 30px

        .s-banners__info
            margin-bottom: 28px

    .s-control--skype
        padding: 80px 0 25px // 80px 0 80px

        .s-title
            margin: 0 0 40px
            max-width: none

    .s-pros--skype
        padding: 80px 0 48px // 80px 0 80px

        .s-pros__info
            margin-bottom: 36px

        .s-pros__block
            .s-pros__block--item
                margin-bottom: 43px
                width: calc(100% / 2)

    .main-ban--skype
        background-position-y: center
    .s-excellence--wep-app
        .s-excellence__col h3
            min-height: 124px
        .s-excellence_row
            align-items: flex-start
        .s-excellence__item
            min-height: 226px

    .main-ban--sdn
        background-size: auto 40%
        background-position-x: calc(100% - 22px)
        background-position-y: 278px
    .s-about--sdn
        .s-about_content
            .container
                flex-direction: column
                align-items: flex-start
    .s-documents--storage
        padding: 60px 0 80px

    .rent-services--storage
        padding: 60px 0 40px // 60px 0 80px

        .s-title
            margin-bottom: 34px

        .rent-services__item
            width: calc((100% / 2) - 33px)

    .data-info--storage
        padding: 60px 0 80px

    .s-scenario--iaas
        .s-scenario_list__item
            p
                min-height: 96px
    .s-features--iaas
        .s-features__img
            width: 200px
        .s-features_bottom__title
            min-height: 93px
        .s-features_bottom
            align-items: stretch
    .s-features--about-page
        .s-features_bottom
            flex-wrap: wrap
            padding-bottom: 0
            .s-features_bottom__img
                margin-bottom: 26px
            .s-features_bottom__block
                width: calc(50% - 20px)
                margin-bottom: 50px
    .main-ban--gru
        .main-ban__text
            margin-top: 149px
            padding-bottom: 0
    .s-excellence--sdn
        .s-excellence__col
            margin-right: 39px
            min-height: 555px

    .s-video--sd-wan
        padding-top: 60px

    .how-tobe--sd-wan
        padding-bottom: 80px

        .s-title
            margin-bottom: 40px

    .s-banners--sd-wan
        padding-bottom: 80px

    .s-control--about
        padding-bottom: 60px // 80px

        .s-control_block
            margin: 0 20px 20px

    .s-excellence--sd-wan
        padding-bottom: 80px

        .s-title
            margin-bottom: 20px

        .s-excellence__info
            margin-bottom: 66px

        .s-excellence__col
            margin-right: 0

            .s-excellence_icon
                margin-bottom: 20px

            h3
                min-height: 70px
                margin-bottom: 20px

    .s-about--sd-wan
        padding-top: 0
        padding-bottom: 80px

    .s-control--articles
        padding-top: 0
        padding-bottom: 60px // 80px

    .s-control--articles
        padding-top: 0
        padding-bottom: 60px // 80px

    .s-banners--advantages
        padding: 60px 0 80px

        .s-title
            margin-bottom: 40px

    .s-banners--features
        padding: 80px 0 80px

    .main-ban--sd-wan
        background-position: 100% 165px

    .s-scheme
        padding: 0 0 80px

    .s-scheme-slider
        .s-scheme-slider_row
            display: block
            margin: 0

        .s-scheme-slider_col
            width: 100%
            margin: 0
            background-size: auto 100%

            &:not(:last-child)
                margin-bottom: 20px

        .s-scheme_text
            width: calc(100% - 270px)

    .main-ban__btns--key-vault
        flex-direction: column
        align-items: flex-start
        a:nth-child(1)
            margin-bottom: 15px

    .main-ban--key-vault
        background-size: 53%
        background-position-x: calc(100% - 51px)
        background-position-y: calc(100% - 148px)
    .s-about_col--key-vault
        flex-basis: 31.33% !important
        p
            width: 233px !important
    .v-scenario_item
        background-size: 86% !important
        padding-bottom: 300px
    .s-about_title--key-vault
        width: 100%
    .main-ban--event
        .main-ban__text
            h1
                width: 100%


    .s-news-list
        padding: 80px 0 0
        &__filters
            flex-direction: column
            margin-bottom: 80px
        &__filter
            width: 100%
            margin-bottom: 20px
    .news-filter
        &__body
            z-index: 12
    .s-news-item
        width: calc(50% - 15px)
    .s-news--cloud-administration,
    .s-articles--cloud-administration
    .s-news--cloud-realization,
    .s-articles--cloud-realization
        padding-top: 0
    .s-ask--cloud-administration,
    .s-ask--cloud-realization
        padding-bottom: 0
    .main-ban--events
        background-position-x: 67%
        background-size: 134% auto
    .events-slider__item--events-block
        h3
            font-size: 24px
            margin-bottom: 30px
    .main-ban--commvault
        background-size: auto 87%
        background-position-y: 65px
        background-position-x: calc(100% + 50px)

    .s-banners--news-detail
        padding: 80px 0

    .s-article
        padding: 80px 0

        .video-player
            height: 383px
    .s-configurator__head-cell--acronis-width
        width: 18%
    .acronis-scheme
        padding: 10px

    .main-ban--news-detail
        padding-bottom: 80px

    .d-speakers
        .d-speakers__item:last-child
            margin-right: 0
        .d-speakers__item
            flex-basis: calc(100%/3 - 80px/3)

    .s-consult--event
        .consult-form
            .btn
                margin-right: 60px
    .s-confines_item
        min-height: 443px
    .s-costs_item h3
        font-size: 22px
        line-height: 26px
    .s-price .item-two
        ul
            column-count: 2
        .col
            width: 100%
            flex-basis: auto
            border-right: none
            border-bottom: 1px solid #E4E5E8
            padding-bottom: 30px
            &:last-child
                border-bottom: none
    .s-price
        .s-price_item__config-left h4
            font-size: 22px
            line-height: 26px
        .s-price_dop
            .s-price_item__dop
                .s-price_item__cloud
                    p
                        width: 68%
            h4
                font-size: 22px
                line-height: 26px
        .s-price_applications
            max-height: 305px
            li
                width: 190px
        .item-four
            .s-price_item__title
                padding-right: 50px
    .s-price__note-icon
        flex-shrink: 0
    .s-world
        background-size: contain

    .s-catalog-element
        &__item
            padding: 31px 20px 23px
        &--development &
            &__item
                min-height: 241px
                width: 100%
        &--professional &
            &__item
                height: auto
                min-height: 241px
                width: 100%
        &--corporate &
            &__item
                min-height: 241px
                width: 100%
        &--storage &
            &__item
                width: 100%
        &--safety &
            &__item
                min-height: 254px
                width: 100%
            &__name
                min-height: 63px
                margin-bottom: 10px
        &--network &
            &__item
                padding: 30px 20px 23px
                min-height: 241px
                width: 100%
            &__name
                min-height: 60px
                margin-bottom: 14px
        &--calculative &
            &__item
                padding: 16px 21px 23px
                min-height: 204px
                width: 100%
            &__name
                min-height: 60px
                margin-bottom: 1px
        &--support &
            &__item
                width: 100%

    .main-ban--support
        padding-bottom: 80px

    .s-configurator--laas
        .s-news-list__filter
            width: 50%
    .s-pros--soc
        .s-pros__block
            max-height: 720px
        .s-pros__block--item
            width: calc(50% - 40px)
        .s-pros__block--icon
            margin-top: 0
            margin-bottom: 0
    .rent-services--soc .rent-services__item
        width: calc( 100% / 3 - 26px )
    .s-integration__wrapper
        flex-wrap: wrap
    .s-integration__banner
        margin: 0 auto 60px
    .s-integration__subtitle
        max-width: none
    .s-futures--soc
        .s-futures_item
            width: calc(50% - 20px)
            height: 130px
        .s-futures_list
            max-height: 570px

    .d-commvault
        .d-commvault__item
            flex-basis: calc(100%/2 - 20px)
            margin-bottom: 40px
            &:nth-child(2n)
                margin-right: 0
        .d-commvault__text
            width: 100%

    .s-configurator--veeam
        .s-configurator
            &__group
                align-self: center
                .btn-gray
                    margin-bottom: 0 !important
                &:last-of-type
                    justify-content: flex-end
            &__total
                font-size: 34px
                line-height: 41px
                margin-bottom: 0
            &__cart
                height: auto

            max-height: 570px
    .e-error
        &__picture
            min-width: 0

    .main-ban--disaster
        background-position: right 100%
        background-size: auto 70%
        padding-bottom: 80px

    .s-about--disaster
        .s-about_content
            padding-top: 80px
            padding-bottom: 80px

    .s-banners--disaster
        padding-top: 80px
        padding-bottom: 80px

    .s-features--disaster
        padding-bottom: 80px

        .s-features_bottom
            padding-bottom: 0

    .s-test--disaster
        padding-bottom: 80px

    .s-control--disaster
        padding-top: 80px
        padding-bottom: 80px
    .s-unsubscribe-reason
        &__group
            max-height: none
    .radio-button
        width: auto
        margin-right: 0
        &__text
            font-size: 20px

    .d-excellence--cdn
        padding: 80px 0 40px // 80px 0

    .d-banners--cdn
        padding-bottom: 80px

    .s-pros--cdn
        padding-bottom: 40px // 80px

        .s-pros__block--item
            width: calc(100% / 2 - 40px)

    .s-documents--cloud--cdn
        padding-top: 80px

    .s-control--cdn
        padding-bottom: 80px

        .s-control_content
            padding-top: 0
            padding-bottom: 0

    .main-ban--cdn
        background-position: right 50%
        background-size: auto 70%
        padding-bottom: 80px

        .main-ban__text
            padding-top: 80px

    .s-control--resource
        padding: 80px 0 40px // 80px 0

        .privileges
            flex-basis: calc(100% / 2 - 40px)
            margin-bottom: 40px

            .privileges_title
                span
                    display: inline
    .v-vacancy_title
        font-size: 24px
    .video_row-item
        a
            img
                height: auto
                width: 422px
            svg
                left: 183px
                top: 93px
    .video_row-item:not(:nth-child(4n+4))
        margin-right: 0
    .video_row-item:not(:nth-of-type(3n))
        margin-right: 0
    .video_row-item:not(:nth-of-type(even))
        margin-right: 75px
    .video_webinars
        .video-slider
            p
                margin-bottom: 30px
    .slider-one
        .d-links__wrapper.active
            .d-links__social--video
                margin: -104px -197px
    .video_webinars
        .slider-one__text
            padding-bottom: 70px
            .social_row
                margin-left: auto
                margin-top: 30px

    .e-achievement--cdn
        padding: 80px 0

        .e-achievement_list
            flex-wrap: wrap
            margin: 0 -40px 84px 0 // 0 -40px 124px 0

        .e-achievement-item
            margin: 0 40px 40px 0
            width: calc(100% / 2 - 40px)

    .e-package__list
        margin-bottom: 20px !important
    .main-ban--hosting
        background-position-y: calc(100% - 46px)
        background-size: 82%
        .main-ban__text--hosting
            padding: 80px 0 0 6px
            h1
                font-size: 42px!important
            .main-ban__btns
                flex-direction: column
                height: 170px
                justify-content: space-between
                align-items: flex-start
    .s-control--hosting
        padding-top: 40px
    .banner-slider--fz
            font-size: 20px !important
    .hosting_suggest
        background-size: 22%
        margin-top: 80px
        h2
            font-size: 18px
            line-height: 21px
            margin-bottom: 20px
            width: 100%
        p
            font-size: 14px
            line-height: 21px
    .s-banners--hosting_why
        padding-bottom: 80px!important
    .v-configurator--hosting
        padding-bottom: 80px
        .v-configurator_wrapper--hide
            display: none !important
    .v-configurator--hosting
        .v-mobile-configurator_general-wrapper
            display: flex !important
            justify-content: space-between
            flex-wrap: wrap
            .v-mobile-configurator_wrapper
                flex-basis: 45%
                margin-bottom: 60px
                .v-configurator_mobile-title
                    font-size: 18px
                    font-weight: 900
                    line-height: 21px
                    margin-bottom: 30px
                .v-configurator_inner-wrapper
                    display: flex
                    flex-direction: column
                    .v-configurator_content-line:nth-child(odd)
                        background-color: #f7f8fb
                        border: 1px solid transparent
                        border-radius: 8px
                    .v-configurator_content-line:not(:nth-child(2))
                        height: 50px!important
                    .v-configurator_content-line:nth-child(2)
                        height: 50px!important
                    .v-configurator_content-line:last-child
                        .v-configurator_content-item:last-child
                            font-size: 16px
                            line-height: 19px
                            font-weight: 700
                            .help-icon
                                top: 0
                                right: -5px
                    .v-configurator_content-line
                        display: flex
                        justify-content: space-between
                        .v-configurator_content-item:first-child
                            font-weight: 700
                            padding-left: 20px
                        .v-configurator_content-item
                            flex-basis: 50%
                            font-size: 12px
                            line-height: 14px
                            display: flex
                            justify-content: flex-start
                            align-items: center
    .v-configurator--hosting-small
        .v-configurator--hosting-small_item
            white-space: normal
            h2
                font-size: 28px!important
                line-height: 34px!important
                margin-bottom: 40px!important
            p
                font-size: 12px!important
                line-height: 16px!important
                margin-bottom: 40px!important
                padding: 17px 10px 15px 10px !important

    .s-about--hosting
        margin-bottom: 80px

        .s-about_content
            padding-bottom: 60px

            p
                font-size: 18px
                line-height: 23px

    .s-control--hosting
        padding-top: 0

    .s-video--project-solutions
        padding-top: 80px

    .s-brand--project-solutions
        padding: 0 0 80px

    .s-brand--technology-partners
        .slick-list
            margin: 0 -130px

        .s-brand__item
            padding: 0 130px

    .s-brand--technical-team
        .s-brand__slider
            margin: 0 0 80px

        .slick-list
            margin: 0 -130px

        .s-brand__item
            padding: 0 130px

    .s-brand--projects
        .slick-list
            margin: 0 -80px

        .s-brand__item
            padding: 0 80px

    .e-achievement--project-solutions
        padding: 0 0 40px // 0 0 80px

        .e-achievement_list
            margin: 0 -20px
            flex-wrap: wrap

        .e-achievement-item
            margin: 0 20px 40px
            width: calc(100% / 2 - 40px)

    .s-banners--project-solutions
        padding: 0 0 80px

    .s-commerce--project-solution
        padding: 0 0 80px

        .s-commerce__list
            margin: 0 -40px 20px 0

        .s-commerce__item
            flex-basis: calc(100% / 2 - 40px)

    .popular-services-project-solution
        padding: 80px 0 40px // padding: 80px 0

        .popular-services__list
            display: flex
            flex-wrap: wrap

        .popular-services__item
            margin: 0 40px 40px 0
            width: calc(100% / 2 - 40px)

    .s-banners--services
        padding: 0 0 80px

        .banner
            flex-wrap: wrap
            margin: 0 0 80px

        .banner-slider__item
            flex-basis: 100%
            margin: 0

            &:not(:last-child)
                margin: 0 0 40px

    .s-banners--cloud-transformation
        .s-banners__description
            margin: 0 0 80px

    .main-ban--project-solution
        background-position: right -179px top 0
        background-size: auto 100%
        padding-bottom: 80px
    .main-ban--price-list
        background-position-x: calc(100% - 30px)
        background-position-y: 168px
    .e-package--price-list
        .e-package__segment
            &--four
                .e-package-header__item
                    width: 25%
                    &:first-child
                        width: 2.5%
                    &:not(:first-child)
                        text-align: center
                //.e-package-header__item
                    //padding-right: 20px

    .e-package--data-storage
        .e-package__list--copy
            .e-package-item__amount
                width: 103px
        .e-package__list--client
            .e-package-item__amount
                width: 152px
        .e-package__list--infoprotect
            .e-package-item__amount
                width: 80px
        .e-package__list--packet
            .e-package-item__amount
                width: 87px
        .e-package__list--commvault
            .e-package-item__amount
                width: 135px
    .e-package--access
        .e-package-item__name
            width: 32.5%
    .e-package--corporate-service
        .e-package__segment--virtual-desktops
            .e-package-header__item:first-of-type
                width: 22%
            .e-package-item__name
                width: 22%
            .e-package-item__amount
                width: 35%
            .e-package-item__cost
                width: 18%
    .e-package--safety
        .e-package__segment--antivirus
            .e-package-header__wrapper
                padding-right: 38px
            .e-package-header__item:first-of-type
                width: 7%
        .e-package__segment--waf
            .e-package-header__wrapper
                padding-right: 33px
            .e-package-header__item:first-child
                width: 16.5%
            .e-package-header__item:nth-child(2)
                padding-right: 0
            .e-package-header__item:nth-child(3)
                width: 17.5%
            .e-package-item__name
                width: 30%
            .e-package-item__column:nth-child(3)
                padding-left: 46px
                padding-right: 65px
        .e-package__segment--firewall
            .e-package-header__item:first-of-type
                width: 35%
            .e-package-item__name
                width: 21.5%
    .e-package--azure-stack
        .e-package__segment--infrastrucutre
            .e-package-header__item:first-child
                width: 13%
            .e-package-header__item:last-child
                padding-right: 0
                padding-left: 40px
                width: 25%
            .e-package-header__item:nth-child(3)
                padding-right: 36px
            .e-package-item__column:nth-child(3)
                width: 18%
                padding-left: 11px
        .e-package__segment--data
            .e-package-header__item:first-child
                width: 21.5%
            .e-package-header__item:last-child
                padding-right: 0
                padding-left: 67px
    .e-package--gpu
        .e-package__segment--pull
            .e-package-header__item:first-child
                width: 12%
            .e-package-header__item:nth-child(2)
                width: 25%
            .e-package-item__name
                width: 19%
            .e-package-item__amount
                width: 32%
                padding-right: 0
            .e-package-item__column:nth-child(3)
                padding-right: 0
    .e-package--kubernetes
        .e-package-item__name
            .tooltip
                right: -20px
                top: -33px
    .main-ban--one-c
        background-size: 86%

    .s-configurator--office-work-kit
        padding: 0 0 80px

        .s-configurator__table
            margin: 0 0 40px

        .s-configurator__cart
            justify-content: space-between

        .s-configurator__group
            .btn
                width: 100%

        .s-configurator__group--note
            flex-basis: 100%
            margin: 0

        .s-configurator__cart-title
            font-size: 22px
            line-height: 26px
            margin-bottom: 20px

        .s-configurator__total
            font-size: 38px
            line-height: 46px

    .s-control--office-work-kit
        padding: 80px 0 60px // 80px 0

        .s-control_block
            min-height: 110px

    .s-testing
        padding: 0 0 80px

    .s-banners--office-work-kit
        padding: 80px 0 60px // 80px 0

        .banner-slider__item
            margin: 0 39px 20px 0
            width: calc(50% - 39px)

    .main-ban--office-work-kit
        background-position: right -130px top 0
        background-size: auto 100%
        padding-bottom: 80px

    .s-functional
        padding: 0 0 80px

        .functional-slider
            .functional-slider__item
                .functional-slider__content
                    margin: 0 60px 0 0

        .main-ban_tabs
            .main-ban_tabs__block
                margin: 0 0 0 -20px

            .main-ban_tabs__item
                &:not(:last-child)
                    margin: 0 20px 0 0

    .b-services-case
        max-width: 100%
        width: 100%

    .s-control--veeam_flex .s-control_list.s-control_list--additional-feautures .s-control_block
        flex-basis: 45.5% !important
    .s-pros__block--requirements-compliance .s-pros__block--item
        &:nth-last-child(-n+3)
            margin-bottom: auto
        width: 45.5%

    .s-banners--consulting
        .s-banners__title
            font-size: 19px
            letter-spacing: -1px

        .banner-slider__item
            background-size: auto 250px
            min-height: 540px
    .main-ban--sap
        background-position-x: calc(100% - 25px)
        background-position-y: 210px
        min-height: 1px
    .s-control--sap
        .s-control_block
            height: auto
            min-height: 119px
        .s-control__main-text
            width: auto
    .s-brand--sap-partners
        padding-top: 140px

    .s-brand--sap
        .slick-list
            margin: 0 -50px
        .s-brand__item
            padding: 0px 50px
        .s-brand__img
            width: calc(33.333% - 20px)

    .configurator--sap
        .container
            align-items: flex-start
    .popup-consult
        .mobile-show
            display: inline
        .display-show
            display: none

    .e-expertise--cloud-migration
        padding: 0 0 40px

        .e-achievement
            margin: 0 -40px 0 0

            .e-achievement-item
                margin: 0 40px 40px 0
                width: calc(100% / 2 - 40px)

    .s-commerce--cloud-migration
        padding: 0 0 80px

        .s-commerce__list
            margin: 0 -40px 4px 0

            .s-commerce__item
                flex-basis: calc(100% / 2 - 40px)
                margin: 0 40px 40px 0

            .s-commerce__title
                min-height: auto

        .s-commerce__info
            flex-direction: column

            .s-commerce__text
                margin: 0 0 40px

    .s-futheres--cloud-migration
        padding: 0 0 40px

        .s-futheres_row
            flex-direction: row

    .s-excellence--cloud-migration
        padding: 0 0 80px

    .s-about--cloud-migration
        padding: 0

        .s-about_content
            padding: 80px 0

    .s-events--cloud-migration
        padding-top: 80px

    .b-our-work--infrastructure
        margin-bottom: 80px

    .s-consult--cloud-migration
        padding: 0 0 80px

    .s-excellence--journey
        .s-excellence_row
            align-items: stretch
        .s-excellence__col
            &:last-child
                flex-basis: auto
        .s-excellence__info
            margin-bottom: 0

    .s-cases--journey
        .b-services-case__second-block
            min-height: 84px

    .s-control--journey
        padding-top: 60px

    .s-features--journey
        .s-features__block
            padding-bottom: 22%
        .s-features__desc
            padding-right: 0

    .s-banners--journey
        .s-subtitle
            padding-right: 20px
        .s-banners__info
            padding-right: 30px

    .e-achievement--journey
        padding-top: 0
        .e-achievement_list
            margin-bottom: 0

    .s-events--information-security,
    .s-events--automation-and-orchestrationy
        padding-top: 80px

    .s-equipment--cloud-administration
        padding: 80px 0

    .certificates--cloud
        padding: 0 0 80px

        .certificates__list
            .slick-list
                .certificates__image
                    min-height: 150px

                    img
                        max-height: 150px
                        width: 100%

    .s-rate--cloud-administration
        padding: 0 0 40px

    .s-banners--cloud-administration.s-banners_mod
        padding: 0 0 40px

    .s-excellence--cloud-administration
        padding: 0 0 40px

        .s-excellence_row
            margin: 0 -46px 0 0

        .s-excellence__col
            flex-basis: calc(100%/3 - 46px)
            margin: 0 46px 40px 0

            &:last-child
                flex-basis: calc(100%/3 - 46px)
                margin: 0 46px 40px 0

    .s-about--cloud-administration
        .s-about_content
            padding: 80px 0

    .s-banners--hybrid-cloud
        .banner-slider__item
            height: auto
            padding-bottom: 215px

    .s-pros--chart
        .s-pros__block--item
            width: 100%
        .s-pros__block
            margin-right: 30px

    .d-request
        .s-title
            padding-right: 20%

    .main-ban--audit
        min-height: 550px
        background-position: 98% 74%
        background-size: 44% auto

    .s-commerce--audit
        .s-commerce__list
            display: block
        .s-commerce__title
            background-repeat: no-repeat
            background-size: cover
        .s-commerce__item
            margin-right: 0

    .popular-services--audit
        h3
            min-height: 1px
            display: block
    .main-ban
        &--cloud-administration
            background-position: right -92px top 114px
            background-size: auto 78%
            padding-bottom: 80px
