@media screen and (max-width: 1600px )
    .banner-slider__item--cloud-migration
        width: calc(50% - 45px)
    .banner-slider__item--profit h2
        max-width: 258px
    .banner-slider__item--profit
        background-position: 300px 28px
    .banner-slider__item--agent
        background-size: auto 215px
    .banner-slider__item--cloud-administration
        p
            font-size: 15px
    .s-banners.partner-page
        .banner-slider__item
            height: 400px

    .service-item
        margin-right: 38px
        flex-basis: calc(50% - 20px)
        &:nth-child(2n)
            margin-right: 0
    .service-item
        margin-right: 38px
        &:nth-child(3n)
            margin-right: auto
    .main-ban
        //max-height: calc( 100vh - 70px )
        h1
            font-size: 56px
            padding-bottom: 25px
        p
            font-size: 19px
            padding-bottom: 55px
        .btn
            height: 65px
            width: 47%
        &--infrastructure
            background-position: 90% 180px
        &--orchestration
            background-size: auto 650px
            background-position: 91% 70px
            padding-bottom: 140px
        &--key-vault
            background-position-x: calc(100% - 111px)
            background-position-y: calc(100% + 34px)
            height: auto
            background-size: 42%
        &--waf
            background-size: auto 570px
            background-position-x: 100%
            background-position-y: 144px
        &--reseller
            height: 650px
            background-size: auto 100%
            background-position: right -61px
        &--partner
            height: 650px
            background-size: auto 97%
            background-position: 100% -61px
        &--agent
            background-size: auto 770px
            background-position: calc((100vw - 1301px) * (-15 + 189) / (1600 - 1301) - 189px) -10px
            .main-ban__text--agent
                width: 680px
        &--datacenter
            background-position: calc((100vw - 1111px) * (-295 + 500) / (1600 - 1200) - 500px) -50px
            .main-ban__text
                margin-top: 140px
                h1
                    padding-right: 215px
        &--gru
            min-height: 650px
            background-size: 26%
            background-position: 88% 83%
            .top-wrapper
                flex-direction: column
            .main-ban_tabs--gru
                margin: 0
        &--laas
            background-size: auto 68%
            background-position: 113% 62%
        &--cmk
            background-position-x: calc(100% + 30px)
            background-position-y: 115px
        &--faq
            background-size: 691px
            background-position: 74% 63%
            .main-ban__text
                h1
                    width: 308px
            .top-wrapper
                display: block

        &--documentation
            .main-ban__text
                h1
                    margin: 0
        &--firewall
            background-position-x: calc((100vw - 1301px) * (-0 + 185) / (1600 - 1301) + 450px)
            background-position-y: 75px
        &--microsoft
            background-size: auto 77%
            .main-ban__text
                width: 545px
            .top-wrapper
                flex-wrap: wrap

        &--cloud
            background-size: auto auto
            background-position: right center
            max-height: none

        &--web-app
            background-size: auto 70%
            background-position-x: calc(100% + 25px)

        &--skype
            background-size: auto 76%
            background-position: right 135px
            max-height: none

        &--private
            background-size: auto 77%

        &--sdn
            background-size: auto 55%
            background-position-x: calc(100% - 47px)

        &--cloud-administration,
        &--cloud-realization
            background-position: 60% -50px
            .main-ban__text
                p
                    max-width: 460px

        &--cloud-administration
            background-position: right -135px top 70px
            padding-bottom: 168px
            background-size: auto 100%

            .main-ban__text
                padding-top: 120px

                h1
                    font-size: 56px
                    line-height: 77px
                    padding-bottom: 25px

                p
                    padding-bottom: 55px
                    max-width: none

        &--cloud-realization
            background-position: calc(100% + 150px) 0
            background-size: auto 90%
        &--iaas
            background-size: auto 65%
            background-position-x: 100%
        &--vdi
            background-position-x: 100%
            background-position-y: 175px
            background-size: auto 80%
            padding-bottom: 125px
        &--soc
            background-size: auto 100%
            background-position-y: calc(100% - 90px)
            background-position-x: calc(100% + 70px)
        &--key-sql
            padding-bottom: 266px
        &--unsubscribe
            background-position-x: calc(100% - 60px)
            background-position-y: 50%
            background-size: auto 570px
            .main-ban__text
                width: 600px
                margin-top: 100px
        &--price-list
            background-size: auto 67%
            background-position-x: calc(100% - 50px)
            background-position-y: 120px
        &--sap
            background-size: auto 68%
            background-position-x: calc(100% - 50px)
            min-height: 800px
        &--information-security
            background-position-x: calc(100% + 120px)
        &--hybrid-cloud
            background-position: 91% 30px
            min-height: 1px
            h1
                line-height: 1.2
        &--journey
            background-size: auto 500px
            background-position: 91% 144px
            min-height: 700px
        &--audit
            min-height: 650px
            background-size: auto 350px
            background-position: 96% 203px
    .popular-services
        padding: 80px 0
        &__item
            height: 530px
            padding: 30px
            li
                font-size: 16px
        h3
            min-height: 80px
            font-size: 24px
        .all-services
            font-size: 40px
        &.popular-services--vdi
            .popular-services__item
                background-position-y: calc(100% + 5px)
                background-position-x: calc(100% + 48px)
                background-size: 219px auto
    .events-slider
        &__date
            top: 25px
            left: 25px
        &__mts
            left: 25px
        &__text
            padding: 25px
        &__info
            padding-bottom: 15px
        h3
            font-size: 24px
        .slick-arrow
            bottom: 74%

    .banner-slider
        .banner-slider__item
            height: 320px
            background-size: 150px
        &__item
            h2
            &::before
                width: 70%
                background-size: 100%
    .s-video ,
    .s-clients,
    .s-events,
    .s-news,
    .s-articles
        .s-title
            margin-bottom: 45px
    .slider-one
        &__left
            height: 340px
        &__text
            padding-left: 50px
        .slick-dots
            margin-left: 50px
    .video-slider
        h3
            padding: 15px 0 20px
        .slick-arrow
            bottom: 69%
    .video-slider ,
    .articles-slider
        h3
            font-size: 24px
        .slick-arrow
            bottom: 69%
    .articles-slider
        .btn
            height: 60px
    .subscribe-form
        &__title
            padding-bottom: 30px
    .s-scenario_list__item
        p
            min-height: 66px
        &___title
            padding: 15px
    .s-scenario--iaas
        .s-scenario_list__item
            p
                min-height: 72px
    .main-ban_tabs
        display: -webkit-box
        width: max-content
        &__item
            margin-right: 25px
    .special__logo
        bottom: 161px
    .special__slogan
        bottom: 62px
    .special
        height: 390px
        margin-top: 195px
    .special__wrapper
        padding-top: 30px
    .special__description
        padding-bottom: 20px !important
    .s-commerce__value
        min-height: 42px
    .s-about--cmk .s-about_top-container
        height: auto
    .s-about--cmk .s-about_top
        flex-wrap: nowrap
    .s-about--cmk .s-about_top__item
        margin-right: 25px
    .s-about--about-page
        .s-about_picture
            min-width: 0
    .s-configurator__table
        width: 720px
    .s-configurator__cart
    .s-configurator .btn
        width: 305px
    .main-ban--self-service
        background-size: auto 76%
        background-position: right 135px
    .s-tarification_block
        margin-right: 100px
    .s-interface__info
        margin-top: 0
    .popup-gallery
        margin-left: 20px !important
        margin-right: 20px !important
        .popup-close
            right: -5px
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                left: 30%
            .advantages__item--bg2:before
                left: 82%
    .special--waf
        height: auto
        margin-top: 0 !important
        .special__image-wrap
            height: 368px
        .special__description
            padding-bottom: 25px !important
            padding-right: 30px
        .special__title
            margin-bottom: 20px
        .special__wrapper
            padding-top: 30px
        .btn
            width: 47%
    .s-start_item p
        padding-right: 15px
    .special-section--reseller
        .special__slogan
            bottom: 111px
    .b-advantages_item img
        align-self: flex-end

    .s-futures
        .s-futures_text
            margin-top: 40px
        &--soc
            padding-top: 0
            .s-futures_item
                height: 180px
                padding: 40px 25px
            .s-futures_list
                max-height: 500px
    .b-advantages
        .b-advantages_text
            margin-top: 40px
    .main-ban--marketplace
        background-size: auto 60%
        background-position: 83% 77%
        h1
            font-size: 56px
            padding-bottom: 25px
        p
            font-size: 19px
            padding-bottom: 55px
        .btn
            height: 65px
            width: 47%

    .s-available-service__item:nth-child(2)
        // padding-left: 30px
        // img
        //     margin-right: 15px
        letter-spacing: -0.5px
    .s-control--private
        .s-control_block
            max-height: none


    .main-ban--corp-email
        background-position-x: calc(100% - 5px)
        background-position-y: 114px

    .btn--corp-email
        width: 273px !important
    .special--corp-email
        margin-top: 0
    .v-opportunity__row
        .v-opportunity__item
            padding: 50px 50px 275px 50px
    .v-rate-inner__item-content
            display: flex
            flex-direction: column
            justify-content: space-between
            .v-box-row
                display: flex
                flex-direction: column
                max-width: 100%
                padding: 0 !important
                margin: 0 !important
                .v-box1, .v-box3
                    margin-bottom: 40px
                    margin-left: -20px
                    margin-top: 30px
                .v-box5
                    margin-bottom: 40px
                    margin-left: -20px
                    margin-top: 80px
                .v-box2, .v-box4, .v-box6
                    margin-left: -20px !important
    .d-excellence
        &__item
            min-height: 197px

        .v-rate-inner__item-content
                display: flex
                flex-direction: column
                justify-content: space-between
                .v-box-row
                    display: flex
                    flex-direction: column
                    max-width: 100%
                    padding: 0 !important
                    margin: 0 !important
                    .v-box1, .v-box3
                        margin-bottom: 40px
                        margin-left: -20px
                        margin-top: 30px
                    .v-box5
                        margin-bottom: 40px
                        margin-left: -20px
                        margin-top: 80px
                    .v-box2, .v-box4, .v-box6
                        margin-left: -20px !important
    .power
        &__title
            font-size: 42px
        .power__list
            .power__item
                width: 370px
                padding: 24px 35px
    .certificates
        &__title
           font-size: 42px
        &--cloud-administration,
        &--cloud-realization
            .slick-arrow
                &.slick-prev
                    bottom: 100%
                &.slick-next
                    bottom: 100%
    .tech-param
         &__title
           font-size: 42px
    .rent-services__img
        width: 80%
    .rent-services .all-services
        font-size: 34px
        line-height: 41px

    .s-clients--gru
        .slick-arrow
            display: block !important
            bottom: -160px
            left: 20px
        .slick-next
            left: 117px
        .clients-slider
            margin-bottom: 160px
        .main-ban_tabs__block
            flex-wrap: wrap
            width: 100%
        .main-ban_tabs
            width: 100%
        .main-ban_tabs__item
            padding-bottom: 15px
            padding-top: 15px
    .s-clients--events
       .main-ban_tabs__block
            width: calc(100% + 20px)
    .s-about_top-container.remote-work
        margin-top: 20px
    .main-ban.remote-work-bg
        background-position-x: calc((100vw - 1301px) * (-40 + 165) / (1600 - 1301) - 165px)
        background-position-y: -40px

    .gru-info__text
        margin-right: 110px

    .v-rate--gru
        .v-rate-inner__item-content--note
            padding-bottom: 16px
        .content__text--tooltip
            font-weight: 400
            font-size: 24px
            line-height: 36px
        .help-icon
            width: 20px
            height: 20px
            display: inline-block
            vertical-align: top
            background: url('../img/!.svg') no-repeat center
            background-size: cover
            position: relative
            z-index: 4
            cursor: pointer
        .v-rate__subnote
            span
                width: 84%
                display: inline-block
                vertical-align: baseline
    .remote-work
        .banner-slider__item
            height: 460px
    .form-block__2
        flex-basis: calc(66% - 9px)
    .s-excellence--gru
        .s-excellence__item
            min-height: 132px
    .s-clients--gru
        .s-clients__text
            width: 100%
    .cloud-service
        .s-control_block
            height: 150px
    .s-hosting_block
        background-size: auto 75%
        background-position: right bottom
    .cloud-arch__images
        flex-wrap: wrap

    .s-consult
        padding-bottom: 90px

        &--sd-wan
            padding-bottom: 120px

    .main-ban_tabs-top--cmk
        .main-ban_tabs__item
            max-width: 153px
    .main-ban_tabs-top--data-center
        &:not(.fixed)
            display: block
        margin: -112px 0 0px auto
    .main-ban_tabs-top--remote
        &:not(.fixed)
            display: block
        .main-ban_tabs__item
            max-width: 180px
    .main-ban_tabs-top--waf
        margin-bottom: 70px
    .why-mts-slider
        &_item
            background-size: 100% auto

    .special-section--isolate .special__slogan
        bottom: 115px
    .main-ban_tabs-top--isolate
        margin-top: -30px
    .main-ban.isolate-connections
        background-position-x: calc((100vw - 1301px) * (-90 + 280) / (1600 - 1301) - 80px)
        background-position-y: 35px
        background-size: auto 90%
    .main-ban__text.isolate-connections
        padding-bottom: 75px
    .s-commerce__wrap
        padding-right: 0
    .v-review_partnership, .v-review_events
        margin-right: 25px !important
    .s-title--contacts:after
        left: 113.15%
    .main-ban.object-storage
        background-size: 70% auto
        min-height: 700px
        .top-wrapper
            flex-direction: column
            justify-content: flex-start
        .main-ban_tabs-top
            margin-bottom: 20px
        .breadcrumbs
            margin-bottom: 20px
    .architecture-storage_item.focus.first
        margin-right: 58px
    .test-period
        .container
            background-position: 98% 98%
    .microsoft-advantages__item
        min-height: 269px
    .s-commerce__subtitle
        max-width: 277px
    .top-wrapper--protection
        display: block
    .main-ban--protection
        min-height: 700px
        background-position: calc(100% + 139px) 73px
        background-size: auto 100%
        max-height: calc( 100vh - 200px )
    .breadcrumbs--protection
        padding-bottom: 20px
    .main-ban_tabs__block--protection
        margin: 0

    .microsoft-tariffs__info
        margin-bottom: 120px
    .s-video--full
        .video-player
            height: 508px

    .input-file--vacancy-bg, .v-tell-us_name, .v-tell-us_tel
        width: 100%
    .main-ban--vacancy
        background-position-x: 90%
    .v-career_content
        padding: 62px 30px 10px 41px
    .v-career_text
        margin-bottom: 50px
    .v-career_title:before
        top: -45px


    .s-about--protection
        .s-about_text
            p
                width: 100%
    .s-control--protection
        .s-control_block--acronis
            min-height: 110px !important
    .s-control--protection
        .s-control_block
            min-height: 127px

    .form-bl--microsoft
        p
            padding-right: 30px

    .s-banners--ddos
        .s-banner__note-text
                padding-right: 0
        .banner-slider__item
            background-size: auto 40%
    .s-excellence--wep-app
        .s-excellence__col
            h3
                min-height: 93px
            p
                min-height: 96px
    .s-about_col--key-vault
        flex-basis: 31.33% !important
        p
            width: 314px !important
    .v-scenario_item
        padding: 30px 30px 350px 30px
        width: 364px
        p
            width: 100%

    .main-ban__text--antivirus
        width: 690px
        margin-top: 171px
    .main-ban--antivirus
        height: auto
        background-position-x: calc(100% + 182px)
        background-position-y: calc(100% + 95px)
        background-repeat: no-repeat
        background-size: 114%

    .v-technical-feature_item
        p
            width: 379px
    .v-technical-feature_item:nth-child(1)
        padding: 57px 27px 56px 160px
        margin-right: 30px
        background-position-x: 27px
        background-position-y: 73px
    .v-technical-feature_item:nth-child(2)
        padding: 75px 23px 56px 165px
        margin-bottom: 50px
        background-position-x: 31px
        background-position-y: 70px
    .v-technical-feature_item:nth-child(3)
        padding: 112px 23px 13px 164px
        margin-right: 30px
        background-position-x: 24px
        background-position-y: 72px
    .v-technical-feature_item:nth-child(4)
        padding: 70px 27px 46px 159px
        background-image: url("../img/antivirus/feature4.svg")
        background-repeat: no-repeat
        background-position-x: 25px
        background-position-y: 61px
    .v-advantages_item-text
        width: 412px

    .v-service-suggest_wrapper
        padding: 40px 100px 17px 457px
        background-position: 53px 145px
        background-size: 31%
    .s-title--antivirus-feedback
        font-size: 30px
        line-height: 34px !important
    .main-ban_tabs--web-app
        display: flex
    .main-ban_tabs
        .main-ban_tabs__block
            margin-left: 0

    .s-banners--skype
        .banner-slider
            .banner-slider__item
                background-size: auto 300px
    .s-excellence--wep-app .s-excellence__item
        min-height: 203px
    .s-commerce--cmk
        .s-commerce__subtitle
            max-width: none
    .page-nav
        &--isolate
            flex-wrap: wrap
            margin-bottom: 35px
            &::before
                top: 158px
            .breadcrumbs
                width: 100%
            .main-ban_tabs-top
                margin-left: auto
    .s-about--sdn
        .s-about_text
            padding-right: 10px
    .s-rate
        &__price
            p
                font-size: 24px

    .main-ban--storage
        background-size: auto 80%
        background-position-y: bottom
    .news-slider
        .slick-arrow
            bottom: 70%
        b
            //min-height: 172px

    .s-excellence--sd-wan
        .s-excellence__col
            h3
                min-height: auto

            p
                min-height: auto

    .s-banners--advantages
        .banner-slider
            .banner-slider__item
                background-size: auto 215px
        .banner-slider
            .slick-arrow
                margin-bottom: 40px

    .s-banners--features
        .banner-slider__item
            background-size: auto

    .s-scheme-slider
        .s-scheme-slider_col
            background-size: auto 75%

        .s-scheme_text
            width: calc(100% - 186px)

    .s-equipment
        &__image-wrapper
            width: auto
    .news-filter
        &__topic
            width: 40%
        &__title
            padding-left: calc(40% + 10px)
    .s-news-item
        &__top
            height: auto
    .s-excellence--sdn
        .s-excellence__col
            padding-bottom: 50px
            min-height: 419px
            h3
                padding-right: 0
            p
                padding-right: 0

    .tech-param--sdn
        .tech-param__block
            flex-basis: calc(50% - 75px)

    .main-ban--event
        .btn
            width: 273px
        .breadcrumbs
            padding-left: 20px
    .d-about-event
        &__text
            padding-right: 0
    .e-achievment
        margin-right: 0
    .main-ban__text--events
        padding-left: 0
    .main-ban--events
        background-position-x: 76%
    .main-ban--commvault
        padding-bottom: 160px
        background-size: auto 85%
        background-position: 93%

    .s-article
        .video-player
            height: 488px

    .s-futheres--cloud-migration
        .s-futheres_col
            padding: 40px 49px 54px 77px
        background-position-x: 155%
    .s-price
        .item-four
            .s-price_item__title
                padding-right: 170px
    .s-price
        p
            width: 100%
        .s-price_applications
            li
                margin-right: 0
    .s-price_group
        flex-wrap: wrap
        .s-price_item
            width: calc(50% - 40px)
            margin-bottom: 20px
    .s-price_item__inner
        .s-price_item__config
            flex-wrap: wrap
            .s-price_item__config-left
                width: 100%
            .s-price_item__config-right
                width: 100%
    .s-price_item__bottom ul li
        padding-right: 0
    .s-price_item__num
        font-size: 52px
    .s-world_inner__item
        width: 40%
        &:nth-child(2)
            width: 37%
    .s-confines_item
        min-height: 389px
    .s-price_dop
        .s-price_item__dop
            .s-price_item__cloud
                img
                    margin-right: 16px

    .main-ban--support
        background-size: auto 70%
        background-position: right 30%

    .s-configurator--laas
        .s-news-list__filter
            width: 50%
    .s-catalog
        &__btn
            span
                font-size: 24px

    .s-catalog-element
        &--development &
            &__item
                padding-top: 31px
                width: 50%
        &--professional &,
        &--corporate &,
        &--safety &,
        &--network &,
        &--calculative &
            &__item
                width: calc(50% - 20px)
        &--storage &
            &__item
                min-height: 325px

    .rent-services--soc h3
        min-height: 66px
    .s-pros--soc
        .s-pros__block
            max-height: 600px
        .s-pros__block--item
            min-height: 180px

    .acronis-interface_subtitle
        width: 100%
    .main-ban_tabs-top--acronis
        margin-top: 0 !important
    .page-nav--acronis:before
        top: 44px
    .s-title--acronis-margin
        margin-bottom: 80px !important
    .s-title--acronis-defence:after
        left: 66.5%
    .s-about--commvault
        .s-about_text
            width: 100%

    .d-backup
        .d-backup__block
            background-size: 25% auto
    .s-advantages__subtitle--veeam
        font-size: 25px
    .s-configurator__head-cell--veeam
        position: relative
        sup
            position: absolute
            top: 11px
            right: -11px
    .e-package-header__item
        &:nth-of-type(2)
            padding: 0 10px
            text-align: center
    .acronis-interface_item:nth-child(2)
        background-position: right center
    .acronis-interface_item:nth-child(3)
        background-position: right center
        margin-bottom: 40px
    .s-configurator_acronis-text--top:before
        top: 0!important
    .main-ban--cloud-migration
        background-size: 83%
        //background-position: 100% 70%
    .main-ban--veeam
        background-position: 100% 14%
    .e-error
        padding-top: 53px

    .main-ban--disaster
        background-size: auto 70%
        background-position: right 50%
        padding-bottom: 168px

    .radio-button
        margin-right: 80px
        &__text
            font-size: 22px

    .s-control--resource
        .privileges
            .privileges_title
                span
                    display: block

    .main-ban--cdn
        background-size: auto 70%
        background-position: right 50%
        padding-bottom: 168px

        .main-ban__text
            padding-top: 168px
    .video_row-item:not(:nth-child(4n+4))
        margin-right: 0
    .video_row-item:not(:nth-of-type(3n))
        margin-right: 90px

    .e-achievement--cdn
        padding: 120px 0

        .s-title
            font-size: 42px
            line-height: 50px

        .e-achievement-item__title
            align-items: flex-start
            flex-direction: column

            span
                margin: 0

        .e-achievement_list
            margin: 0 -40px 124px 0

        .e-achievement_map
            margin: 0

            svg
                height: auto
                width: 100%

    .e-package__list
        margin-bottom: 0 !important
    .acronis-interface_list
        justify-content: center
    .s-control--hosting
        .s-control_list
            .s-control_block--hosting
                flex-basis: 47.5%
    .hosting_suggest
        background-position: right bottom
    .v-configurator--hosting-small_item
        white-space: nowrap

    .s-brand--project-solutions
        .s-title
            line-height: 50px
            max-width: calc(100% - 180px)

        .s-brand__desc
            max-width: calc(100% - 180px)

    .s-brand--technology-partners
        .slick-list
            margin: 0 -40px

        .s-brand__item
            padding: 0 40px

    .s-brand--technical-team
        .slick-list
            margin: 0 -40px

        .s-brand__item
            padding: 0 40px

    .s-brand--projects
        .slick-list
            margin: 0 -10px

        .s-brand__item
            padding: 0 10px

    .s-banners--project-solutions
        .banner-slider
            &__item
                height: 332px

    .popular-services-project-solution
        .popular-services__img
            height: 216px

    .s-banners--services
        .banner-slider__item
            background-size: auto 158px

        .banner-slider__text
            max-width: calc(100% - 207px)

    .main-ban--project-solution
        background-size: auto 100%
        background-position: right -135px top 0
        padding-bottom: 168px

    .s-commerce--project-solution
        .s-commerce__title
            padding: 15px 40px

    .e-package--price-list
        .e-package__text
            width: 100%
    .e-package--data-storage
        .e-package__list--copy
            .e-package-item__amount
                width: 140px
        .e-package__list--client
            .e-package-item__amount
                width: 194px
        .e-package__list--packet
            .e-package-item__amount
                width: 113px
        .e-package__list--commvault
            .e-package-item__amount
                width: 173px
            .e-package-item__name
                width: 43%
    .e-package--access
        .e-package-item__amount
            padding-right: 0
        .e-package-item__name
            width: 24.5%
    .e-package--safety
        .e-package__segment--antivirus
            .e-package-header__item:first-of-type
                width: 5%
            .e-package-item__cost
                width: 14%
        .e-package__segment--waf
            .e-package-header__wrapper
                padding-right: 37px
            .e-package-header__item:first-child
                width: 15%
            .e-package-header__item:nth-child(2)
                width: 21%
                padding-right: 63px
            .e-package-header__item:nth-child(3)
                width: 19.5%
            .e-package-header__item:last-child
                width: 25%
            .e-package-item__column:nth-child(3)
                .tooltip
                    top: 0
        .e-package__segment--ddos
            .e-package-item__name
                width: auto
            .e-package-item__cost
                width: 40%
        .e-package__segment--firewall
            .e-package-item__name
                width: 48.5%
    .e-package--azure-stack
        .e-package__segment--infrastrucutre
            .e-package-header__item:first-child
                width: 10%
            .e-package-header__item:nth-child(2)
                width: 34%
            .e-package-header__item:nth-child(3)
                width: 28%
        .e-package__segment--data
            .e-package-header__item:nth-child(2)
                padding-right: 100px
    .e-package--gpu
        .e-package__segment--pull
            .e-package-header__item:nth-child(2)
                width: 17%
                padding-left: 0
            .e-package-header__item:nth-child(3)
                width: 16%
                text-align: center
            .e-package-header__item:last-child
                text-align: center
                width: 19%
    .e-package--kubernetes
        .e-package-header__item:first-child
            width: 11%
        .e-package-item__name
            width: 22%
    .s-banners--commvault--bg
        .banner-slider__item
            background-size: 68% !important

    .v-configurator--one-c
        h2
            font-size: 42px
            line-height: 50px

    .v-configurator--one_c
        .s-title
            font-size: 42px
            line-height: 50px

    .v-configurator--one-c
        .v-configurator--one-c_desktop-wrapper
            .v-configurator_line
                .v-configurator_item:first-child
                    flex-basis: 33%
                    padding: 0 0 0 20px

                .v-configurator_item:not(:first-child)
                    flex-basis: 16.75%
                    padding: 0

                .v-configurator_item:last-child
                    padding: 0 20px 0 0

    .s-configurator--office-work-kit
        .s-configurator__head-cell
            font-size: 18px
            line-height: 22px

    .main-ban--office-work-kit
        background-size: auto 100%
        background-position: right -135px top 0
        padding-bottom: 168px


    .s-functional
        .functional-slider
            .functional-slider__item
                img
                    width: 50%

    .banner-slider__item--private
        min-height: 550px
        background-size: 100% auto

    .main-ban_tabs
        .main-ban_tabs__block
            margin: 0 0 0 -30px

            .main-ban_tabs__item
                &:not(:last-child)
                    margin: 0 30px 0 0
    .b-services-case
        max-width: 550px

    .s-control--veeam_flex .s-control_list.s-control_list--additional-feautures
        .s-control_block
            flex-basis: 29.5% !important

    .s-pros__block--requirements-compliance
        .s-pros__block--item
            width: 29.5%
        .s-pros__block--text
            font-size: 18px
            .main-ban_tabs__item
                &:not(:last-child)
                    margin: 0 30px 0 0

    .banner--private
        margin: 0
    .s-features--orchestration
        .s-features__block
            justify-content: flex-start
            min-height: 400px
        .s-features__desc,
        .s-features_list__title
            padding-right: 100px
        .s-features__img
            top: auto
            bottom: 0
            width: auto
            height: 200px
    .s-features__text
        margin-top: 0
    .b-possibilities__text
        margin-top: 0
    .why-mts-slider--orchestration
        .why-mts-slider_item
            background-size: auto 280px

    .s-commerce--cloud-migration
        .s-commerce__list
            .s-commerce__title
                min-height: 167px

    .b-our-work__text
        margin-top: 30px
    .s-commerce
        &--configurations
            .s-commerce__preview
                margin-top: 0
            .s-commerce__title
                padding: 34px 40px 34px
            .s-commerce__subtitle
                letter-spacing: -1.2px
                padding-right: 40px
    .s-control--sap
        .s-control_block
            min-height: 119px

    .s-about--sap-checked
        .s-about_col
            min-height: 147px

    .s-brand--sap
        .slick-list
            margin: 0
        .s-brand__item
            padding: 0 2px
    .s-solutions--infrastructure
        .s-solutions__text
            margin: 0 0 135px

    .s-consult--cloud-migration
        padding: 0 0 127px

    .popular-services--journey
        padding-top: 0
        .popular-services__img
            height: 40%

    .s-cases--journey
        .b-services-case__second-block
            padding-top: 20px

    .s-features--journey
        .s-features__img
            height: 40%
        .s-features__block
            padding-bottom: 14%

    .e-achievement--journey
        padding-top: 0
        .e-achievement_list
            margin-bottom: 0
    .s-rate--cloud-administration
        padding: 0 0 89px

        .s-rate__wrapper
            flex-wrap: wrap

        .s-rate__element
            flex-basis: calc(100% / 3 - 40px)
            margin: 0 40px 40px 0

    .s-banners--cloud-administration
        .banner-slider__item
            p
                max-width: none

    .s-pros--hybrid-cloud
        .s-pros__block--text
            max-width: 70%

    .d-steps__title
        min-height: 84px

    .s-banners--hybrid-cloud
        .banner-slider__item
            padding-bottom: 300px
            padding-right: 40px

    .popular-services--audit
        padding-top: 0

    .s-commerce--audit
        padding-bottom: 80px

    .s-brand--audit
        .slick-arrow
            margin-bottom: 100px
    .s-solutions--information-security
        .b-slider-vendors
            .slick-arrow
                margin-bottom: 75px
