@media screen and (max-width: 1300px )
    .main-ban
        max-height: none//1000px
        padding: 20px 0 60px 0
        height: auto
        h1
            font-size: 48px
        p
            font-size: 18px
            padding-bottom: 40px
        &--infrastructure
            background-size: auto 500px
            background-position: 84% 180px
        &--orchestration
            background-size: auto 500px
            background-position: 91% 110px
        &--antivirus
            height: auto
            background-position-x: calc(100% + 146px)
            background-position-y: calc(100% + 19px)

        &--key-vault
            height: auto
            background-size: 50%
            background-position-x: calc(100% + 45px)
            background-position-y: calc(100% - 61px)

        &--corp-email
            background-position-x: 100%
            background-size: 47%
            background-position-y: 138px!important
        &--agent
            background-position: -225px -8px

        &--contacts
            height: 622px
            background-position-y: 25px

        &--waf
            background-size: auto 450px
            .main-ban__text
                width: 521px
                margin-top: 50px
        &--reseller
             background-size: auto 100%
             background-position: right center
             .main-ban__text
                 padding-top: 100px
        &--partner
            background-size: auto 100%
            background-position: right center
            .main-ban__text
                padding-top: 100px
        &--datacenter
            background-position-y: 0
            max-height: 1000px
            padding: 60px 0
            .main-ban__text
                margin-bottom: 140px
        &--gru
            min-height: 550px
            .top-wrapper
                margin-bottom: 100px
        &--cmk
            background-position-x: calc(100% + 30px)
            background-position-y: 125px
        &--self-service
            background-position-y: 165px
        &--firewall
            background-position-y: 85px
            background-position-x: calc((100vw - 1200px) * (35 + 15) / (1300 - 1200) + 405px)
            padding-bottom: 55px
            .main-ban__text
                width: 540px
        &--faq
            background-size: 530px
            background-position: 71.5% 100%
            padding-bottom: 120px
            .main-ban__text
                margin-top: 150px
        &--microsoft
            .main-ban__text
                margin-top: 120px

        &--cloud
            background-position-y: center
            padding-bottom: 80px
        &--private
            background-position-x: 100%
            background-position-y: 130px
        &--cloud-realization
            background-position-x: calc(100% + 100px)
            background-position-y: 130px
            .main-ban__text
                max-width: 614px
        &--event
            background-position: -15px 100%
            background-size: auto 100%

        &--soc
            padding-bottom: 140px
            background-position-y: calc(50% + 36px)
            background-position-x: 100%
            .main-ban__text
                margin-top: 80px
                h1
                    padding-bottom: 25px
                p
                    padding-bottom: 40px
        &--documentation
            background-size: 420px
            background-position: 71.5% 137%
            padding-bottom: 120px
            .main-ban__text
                margin-top: 150px
        &--about-page
            background-size: auto 100%
            background-position: center 2px
        &--information-security
            background-position: 75px 64%
            background-size: 100%
            padding-bottom: 130px
            p
                max-width: 500px
        &--hybrid-cloud
            background-position: 91% 60px
        &--journey
            background-size: auto 450px
            background-position: 91% 145px
            min-height: 650px
        &--audit
            background-size: 56% auto
            background-position: 91% 189px
            min-height: 600px
    .special-section--reseller
        margin-top: 0
    .special__slogan
        bottom: 80px
    .s-components__list
        margin: 0 -25px
    .s-components__item
        margin: 0 25px
    .configurator
        &__text-wrapper
            margin-right: 40px
            width: calc(50% - 20px)
    .main-ban--marketplace
        background-position: 83% 82%
        padding: 60px 0
        height: auto
        h1
            font-size: 48px
        p
            font-size: 18px
            padding-bottom: 40px

    .s-pros
        &__block
            &--item
                width: 45%
                margin-bottom: 56px

                &:nth-last-child(-n+3)
                    margin-bottom: 56px

                &:nth-last-child(-n+2)
                    margin-bottom: 0
    .main-ban.remote-work-bg
        background-position-y: -25px
        .main-ban__text
            width: 450px
    .main-ban_tabs-top
        margin-top: 5px
    .main-ban_tabs-top--cmk
        margin-top: -85px
        .main-ban_tabs__item
            max-width: 153px
    .main-ban_tabs-top--data-center
        margin: -20px 0 0px auto
    .main-ban_tabs-top--self
        margin-top: -70px
    .main-ban_tabs-top--isolate
        margin-top: 40px
    .main-ban.isolate-connections
        background-position-x: calc(100% + 20px)
        background-position-y: 60px
        background-size: auto 85%
    .main-ban__text.isolate-connections
        width: 600px
        margin-top: 45px
    .main-ban_tabs-top--corp-email:not(.fixed)
        top: -96px
    .main-ban__text--corp-email
        margin-top: 85px
    .main-ban_wrapper--corp_email
        .main-ban_tabs__block
            margin-top: 0

    .special-section--cloud
        padding-bottom: 80px

    .about-object-storage--cloud.iso-conn
        padding-bottom: 80px

    .main-ban--protection
        min-height: 0
        .main-ban__text
            padding-bottom: 150px
    .main-ban.object-storage
        min-height: 0
        .main-ban__text
            padding-top: 100px
    .s-rate
        &__wrapper
            flex-wrap: wrap
        &__element
            flex-basis: calc(50% - 30px)
            margin: 0 0 20px 0
        &__name
            background-size: 100%
    .main-ban__text--antivirus
        margin-top: 100px
    .main-ban--antivirus
        background-position-y: calc(100% + 100px)
    .main-ban--cloud-migration
        // background-size: 50%
        // background-position: 100% 70%
    .main-ban--veeam
        background-position: 100% 14%
    .banner-slider__item--cloud-administration
        flex-basis: calc(50% - 26px)
        margin-right: 0
    .main-ban--events
        background-position-x: 71%

    .main-ban--support
        padding-bottom: 141px
        background-size: auto 70%
        background-position: 30% 30%

    .s-configurator--laas
        .s-news-list__filter
            width: 50%
    .s-catalog
        &__item
            width: calc(50% - 20px)

    .main-ban--news-detail
        padding-bottom: 118px
        background-position: right bottom

    .s-pros--soc
        .s-pros__block
            max-height: 570px
        .s-pros__block--item:nth-last-child(-n+3),
        .s-pros__block--item:nth-last-child(-n+2)
            margin-bottom: 60px
    .main-ban__text--acronis
        h1
            width: 769px
    .d-scheme
        h3
            width: 100%
        .d-scheme__desc
            width: 100%
    .d-backup
        .d-backup__block
            background-size: 30% auto
            padding-bottom: 200px
        .d-backup__text
            width: 100%
        .d-backup__item
            margin-right: 70px
    .s-control--veeam
        .s-control_list
            display: block
            .s-control_block
                width: 100%
            width: 769px
    .feedback--about-page
        .feedback-slider
            &__item
                padding-right: 0
            &__position
                font-size: 16px
                max-width: 300px

    .main-ban--disaster
        background-position: right 50%
        background-size: auto 70%
        padding-bottom: 168px
    .s-brand
        &--partner
            padding-top: 80px
    .certificates
        &--about-page
            padding-top: 70px

    .s-pros--cdn
        padding-bottom: 80px // 120px
        .s-pros__block--item
            margin-bottom: 40px

    .main-ban--cdn
        background-position: right 50%
        background-size: auto 70%
        padding-bottom: 168px
    .s-control_list--veeam
        width: 100% !important


    .s-control
        &--veeam
            .s-control_list
                .s-control_block--veam
                    &:first-child
                        width: 33.33%
                        margin-right: 0
                        padding-right: 0
                    &:nth-child(2)
                        width: 33.33%
                        margin-right: 0
                        padding-left: 40px
                    &:last-child
                        width: 33.33%
                        padding-right: 40px
                        margin-right: 0
                        padding-left: 0
                    .s-control_desc
                        font-size: 14px !important
                        line-height: 16px !important

    .main-ban--project-solution
        background-position: right -130px top 0
        background-size: auto 100%
        padding-bottom: 168px

        .main-ban__text
            h1
                line-height: 58px
                max-width: 600px

    .main-ban--office-work-kit
        background-position: right -130px top 0
        background-size: auto 100%
        padding-bottom: 168px

        .main-ban__text
            h1
                line-height: 58px
                max-width: 600px

    .s-rate--cloud-administration
        .s-rate__element
            flex-basis: calc(100% / 2 - 40px)

    .s-banners--cloud-administration
        .banner-slider__item
            flex-basis: calc(100% / 2 - 39px)
            background-position: bottom right

    .main-ban
        &--cloud-administration
            background-position: right -70px top 89px
            background-size: auto 86%
            padding-bottom: 168px

            .main-ban__text
                h1
                    font-size: 48px
                    line-height: 58px
                p
                    padding-bottom: 40px

.s-control--veeam_flex .s-control_list.s-control_list--additional-feautures
    display: flex
    width: auto

.b-services-case__second-block
    min-height: 200px