@media screen and (max-width: 360px )
    .main-ban
        h1
            font-size: 36px
        p
            font-size: 15px
    .slider-one
        &__left
            height: 160px
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                left: 65%
            .advantages__item--bg2:before
                left: 63%
    .main-ban
        &__text--agent
            //padding-top: calc((100vw - 320px) * (300 - 250) / (375 - 320) + 250px) !important
            padding-top: 0 !important
            margin-top: -133px !important
        &__text--private
            margin-top: 0 !important
            padding-top: calc((100vw - 320px) * (225 - 180) / (360 - 320) + 180px) !important
        &--self-service
            background-position-y: calc((100vw - 320px) * (0 - 30) / (360 - 320) + 30px) !important
            .main-ban__text
                padding-top: calc((100vw - 320px) * (280 - 260) / (360 - 320) + 260px) !important
        &--web-app
            background-position-y: 140px
            .main-ban__text
                margin-top: calc((100vw - 320px) * (70 - 40) / (360 - 320) + 40px)
        &--iaas
            background-position-y: 115px
            .main-ban__text
                padding-top: calc((100vw - 320px) * (60 - 20) / (360 - 320) + 20px) !important
        &--cloud-administration
            .main-ban__text
                h1
                    font-size: 25px
        &--orchestration
            background-position-y: 45px
        &--sap
            background-size: auto 36%
            background-position-y: 60px
            .main-ban__text
                margin-top: 150px
        &--infrastructure
            background-position-y: 60px
            .main-ban__text
                h1
                    font-size: 30px
        &--information-security
            .main-ban__text
                h1
                    font-size: 30px
    .banner-slider__item--agent
        background-position: -58px bottom
    .banner-slider__item--profit
        background-position: left bottom
    .main-ban--marketplace
        background-size: 70%
        background-position: center 130px
        .breadcrumbs
            margin-bottom: 250px
        &_tabs
            &__block
                margin-left: -250px
        h1
            font-size: 36px
        p
            font-size: 15px
    .main-ban--cmk
        background-position-y: 70px
    .main-ban--microsoft
        background-size: auto 35%
    .s-about--marketplace
        &_col
            margin-right: 0
            flex-basis: 100%
            font-size: 14px
    .s-services
        &__item
            background-size: 47% !important
            margin-right: 0
            padding: 15px
            &-link
                margin-bottom: 100px
    .certificates
        &__item
            width: 310px
    .main-ban--private
        // background-position: 0px 95px

    .technical-features--firewall
        .technical-features
            &__block--img
                width: 293px
                &-wrap
                  width: 293px
            &__block--text-wrap
                font-size: 14px

    h2
        letter-spacing: -1px
    .main-ban.remote-work-bg
        background-position-y: -10px
    .s-about--remote
        .mobile-nav__title
            padding: 16px 51px 16px 21px
    .s-hosting_block
        background-position: 216px bottom
        background-position-x: calc((100vw - 320px) * (175 - 140) / (360 - 320) + 140px)
        &:first-child
            background-position: 170px bottom
            background-position-x: calc((100vw - 320px) * (120 - 80) / (360 - 320) + 80px)
        &:nth-child(3)
            background-position: 177px bottom
            background-position-x: calc((100vw - 320px) * (127 - 108) / (360 - 320) + 108px)
        &:last-child
            background-position: 205px bottom
            background-position-x: calc((100vw - 320px) * (165 - 131) / (360 - 320) + 131px)
        .s-hosting_desc
            max-width: 185px
    .v-rate
            .v-rate-inner__item-title2
                padding-top: 35px !important
            .v-rate-inner__item-title
                margin-left: -20px
            .v-rate-inner__item-content1
                padding: 55px 0 40px 60px !important
            .v-rate-inner__item-content
                display: block
                .v-rate-inner__item-content-title
                    margin-top: -15px
                    margin-bottom: 55px !important
                .v-rate-list
                    margin-left: -20px
                .v-rate-inner__item-content-attention
                    padding-left: 20px !important
                .v-box-row
                    .v-box
                        width: 255px !important

    .main-ban--vacancy
        background-size: auto 28%
    .main-ban__text--vacancy
        margin-top: -343px
    .v-vacancy_title
        width: 100%
        font-size: 14px
    .main-ban--faq
        .main-ban__text
            h1
                width: 195px !important
    .s-configurator--corp
        .s-configurator__cell
            &:first-child
                font-size: 12px
    .cloudvpn-interconnect .cloundvpn-direct-conn_item
        height: 100px
    .main-ban__text.isolate-connections
        h1
            letter-spacing: -3px
    .main-ban.isolate-connections
        background-position-y: 20px
    .main-ban__text.isolate-connections
        padding-top: calc((100vw - 320px) * (215 - 130) / (360 - 320) + 130px)
    .s-configurator--laas
        .s-configurator__head-cell:first-child
            width: 50% !important
        .s-configurator__wrap
            .s-configurator__head-cell--cost
                width: 50% !important
    .main-ban--corp-email
        background-position-y: 10% !important

    .main-ban--cloud
        background-size: auto auto

        .main-ban__text
            padding-top: 357px !important
    .microsoft-tariffs__slider
        a.btn
            width: 100%
    .microsoft-tariffs__slider--business
        .microsoft-tariffs__slide
            min-height: 602px
    .microsoft-tariffs__slider--enterprise
        .microsoft-tariffs__slide
            min-height: 652px
    .main-ban--protection
        background-size: 233% auto
        background-position: 87% 0%
        .main-ban__text
            h1
                width: 100%
    .v-rate--gru
        .v-rate-inner__item-title
            margin: 0
        .v-rate-inner__item-content
            .v-rate-list
                margin-left: 0

    .s-clients--gru
        .select-filter__title
            padding-right: 33px
        .s-title
            font-size: 22px
            line-height: 26px
    .v-rate--gru
        .s-title
            font-size: 22px
            line-height: 26px
        .v-data__text--title
            width: 100%
    .s-excellence--gru
        .s-title
            font-size: 22px
            line-height: 26px
    .main-ban--faq
        background-size: auto 216px


    .main-ban__text--antivirus
        h1
            font-size: 24px !important
            line-height: 29px !important
    .main-ban--antivirus
        background-position-y: 80px

    .main-ban--skype
        background-position-y: 38px
        background-position-x: center
        background-size: auto

        .main-ban__text
            padding-top: 47px
            margin-top: 203px
    .s-excellence--wep-app
        .s-excellence__item
            min-height: 226px
    .s-banners--skype
        .s-title
            letter-spacing: -2.2px
    .s-excellence--sdn
        h2
            font-size: 30px
    .main-ban--key-vault
        background-size: 108% auto !important
        background-position-x: -2px !important
    .s-scenario--iaas
        .btn-accordion
            top: auto
            bottom: 2px
        .s-scenario_list__item:last-child
            .btn-accordion
                top: auto
                bottom: 2px
    .s-banners--news
        .banner-slider--news
            .banner-slider__item--news
                background-size: 197%

    .s-banners--services-catalog
        .banner-slider--services-catalog
            .banner-slider__item--services-catalog
                background-size: 156%

    .main-ban--sdn
        background-position-y: 44px

    .banner-slider__item--cloud-administration
        padding: 22px 42px 50px 36px
    .s-price_item__num
        font-size: 35px !important
    .s-price_item__cur
        font-size: 10px !important
    .s-price_group .s-price_item__usage::before
        margin-right: 8px
    .s-catalog
        &__btn
            span
                font-size: 18px
    .s-catalog-element
        &__name
            font-size: 18px
    .banner-slider
        &__item
            &--cloud-migration
                h3
                    font-size: 17px
    .e-reliability-item
        &__description
            font-size: 19px

    .s-configurator__line--acronis-flex:nth-child(2), .s-configurator__line--acronis-flex:nth-child(4)
        height: 211px!important
        .s-configurator__cell--acronis-count, .s-configurator__cell--acronis-sum
            top: 158px
    .s-configurator__wrap--acronis3
        .s-configurator__cell--acronis-count-last, .s-configurator__cell--acronis-last-sum
            top: 157px!important
    .social_row
        width: 300px
        .video-view
            margin-right: 40px
    .popup-video--inside
        .d-links__wrapper.active
            .d-links__social--video
                margin: 2px -180px
    .s-pros--soc-features
        .s-title
            letter-spacing: -2px
    .main-ban--key-sql
        .main-ban__text
            padding-top: 120px !important
    .acronis-interface_item
        height: 175px

    .main-ban--disaster
        background-size: contain
        background-position: center top
        padding-bottom: 40px

        .main-ban__text
            margin-top: 0
            padding-top: 218px

            h1
                font-size: 42px

    .main-ban--cdn
        background-size: contain
        background-position: center top
        padding-bottom: 40px

        .main-ban__text
            margin-top: 0
            padding-top: 223px

            h1
                font-size: 42px
    .main-ban--cloud-realization
        background-size: auto 110%
        background-position-y: -110px

        .main-ban__text
            padding-top: 200px
    .form-remote-work
        max-width: 100%

    .main-ban--project-solution
        background-size: contain
        background-position: center center
        padding-bottom: 40px

        .main-ban__text
            margin-top: 0
            padding-top: 326px

            h1
                font-size: 42px

    .v-configurator--one-c
        .v-configurator--one-c_mobile-wrapper
            .v-configurator_content-item:nth-child(2)
                flex-basis: 31% !important
        .s-banner__note
            .s-banner__note-text
                margin-top: 1px !important

    .main-ban--office-work-kit
        background-size: 100% auto
        background-position: center -52px
        padding-bottom: 40px

        .main-ban__text
            margin-top: 0
            padding-top: 326px

            h1
                font-size: 42px
    .main-ban--price-list
        background-position-y: 40px
        .main-ban__text
            margin-top: 260px

    .main-ban--cloud-migration
        .container
            .main-ban__text
                padding-top: 316px

    .main-ban--cmk-service
        .main-ban__text
            margin-top: 39px !important
    .s-features--orchestration
        .s-title
            font-size: 30px
    .s-banners--private
        .banner-slider__item
            min-height: 440px
    .s-requirements-compliance
        .s-title
            font-size: 30px

    .main-ban--hybrid-cloud
        background-position-y: -10px

    .s-banners--hybrid-cloud
        .banner-slider__item
            background-position: right bottom
            background-size: auto 47%