@media screen and (max-width: 400px )
    .main-ban--marketplace
        background-size: 87%
        background-position: center 118px
        .breadcrumbs
            margin-bottom: 307px
        .main-ban__text
            padding-top: 17px
    .main-ban--cloud-administration
        // background-position: center center
        background-position: center 41px
        .main-ban_tabs
            margin-bottom: 194px
    .s-about--marketplace
        &_col
            margin-right: 0
            flex-basis: 100%
            font-size: 14px
    .slider-one
        &__left
            height: 180px
    .main-ban--information-security
        padding-bottom: 24px
        background-position: center 0%
        .main-ban__text
            padding-top: 340px
            h1
                font-size: 35px
                padding-bottom: 30px
            p
                padding-bottom: 30px
    .video-slider,
    .articles-slider
        h3
            font-size: 20px
    .articles-slider
        .btn
            width: 100%
    .advantages
        .advantages__list
            .advantages__item--bg1:before
                top: 17%
            .advantages__item--bg2:before
                top: 55%
    .certificates
        &__item
            width: 345px
    .main-ban--firewall
        background-position-y: 22%
        background-size: auto 230px
        .main-ban__text
            padding-top: 210px
            h1
                font-size: 38px
            p
                font-size: 14px
                padding-bottom: 25px
    .s-about--firewall
        .s-about_top-container
            height: 40px
        .mobile-nav
            &__item
                padding-left: 20px
            &__title
                &::after
                    right: 10px
    .s-control__info--firewall
        font-size: 14px
        margin-bottom: 20px
    .s-documents--firewall
        padding-top: 57px
    .s-pros--firewall
        padding-bottom: 36px
        .s-pros__block--item
            margin-bottom: 25px
        .s-pros__block--icon
            margin-right: 25px
    .s-control--firewall
        padding-bottom: 0px
        .s-title
            margin-bottom: 26px
        .s-control
            &_block
                align-items: center
                padding: 31px 27px
                margin-bottom: 23px
            &_icon
                margin-right: 15px
    .tech-param--firewall
        padding: 40px 0 0

        .tech-param
            &__title
                margin-bottom: 40px
            &__subtitle
                font-size: 25px
            &__block
                    padding: 30px 17px
                    margin-bottom: 26px
            &__item
                li
                    padding: 0 0 0 20px
                    margin-bottom: 22px
                    &::before
                        width: 6px
                        height: 6px
                        top: 7px
                        left: 0
    .technical-features--firewall
        padding-top: 31px
        padding-bottom: 41px
    .technical-features
        &__block--text-wrap
            padding: 0 16px
            font-size: 14px
    .tariff
        padding-top: 37px
        .tech-param__title
            margin-bottom: 26px
        .table
            &--firewall
                margin-bottom: 84px
            &__th
                font-size: 20px
                line-height: 24px
                span
                    text-align: left
    .d-services
        background-size: 100%
    .d-services__item--mod
        background-size: 77% !important
    .d-services__item--box
        background-size: 75% !important
        background-position-y: 110%
        p
            margin-bottom: 175px
    .d-services__item--last
        background-size: 82% !important
        background-position-x: 132% !important
        p
            margin-bottom: 175px
    .d-excellence__item
        height: calc((100vw - 320px) * (103 - 147) / (375 - 320) + 147px)
    .s-configurator--corp
        .s-configurator__cell
            &:first-child
                width: 55%
            &:last-child
                width: 45%
                padding-right: 51px
    .s-configurator--laas
        .s-configurator__cell:last-child
            padding-right: 0
            width: 88px
        .s-configurator__cell:first-child
            width: 50% !important
    .architecture-storage_item.focus
        flex-basis: calc(50% - 6px)

    .main-ban--vacancy
        background-size: auto 34%
    .main-ban__text--vacancy
        margin-top: -232px
    .main-ban--antivirus
        background-position-y: 58px
        background-position-x: 65px
        background-size: 56%
    .main-ban__text--antivirus
        padding-top: 0
        margin-top: 261px !important
        margin-left: -4px
        h1
            font-size: 28px !important
            line-height: 34px !important
        p
            line-height: 21px !important
    .breadcrumbs--antivirus
        margin-left: -4px
        margin-top: -1px
    .main-ban__btns--antivirus
        a
            font-size: 14px
            line-height: 21px
            font-weight: 500

    .form-bl--microsoft
        .check-label
            font-size: 14px
    .main-ban--key-vault
        background-size: 96% auto !important
        background-position-y: calc(100% - 316px) !important
        h1
            width: 202px
    .main-ban__text--key-vault
        padding-top: 300px
    .main-ban__text--key-vault
        h1
            padding-bottom: 34px !important
    .s-about_col--key-vault
        p
            width: 276px !important
    .main-ban--key-vault
        background-position-y: calc(100% - 320px) !important
        background-position-x: calc(100% + 2px) !important
    .main-ban__text--key-vault
        padding-top: 292px
    .s-excellence--wep-app
        .s-excellence__col
            h3
                max-width: 280px
            p
                max-width: 310px

    .main-ban--datacenter
        .main-ban__text
            padding-bottom: 0
    .s-banners--news
        .banner-slider--news
            .banner-slider__item--news
                background-size: 176%

    .s-banners--services-catalog
        .banner-slider--services-catalog
            .banner-slider__item--services-catalog
                background-size: 160%

    .s-excellence--sd-wan
        .s-excellence__col
            h3
                max-width: none

            p
                max-width: none

    .main-ban__text--events
        margin-bottom: 151px
        margin-top: 20px
        padding-bottom: 0
        padding-top: 0

    .s-clients--events
        .main-ban_tabs__item
            font-size: 14px
    .main-ban--events
        background-position-y: 100%
        background-size: 99%
    .events-slider__info--events-block
        padding-bottom: 18px !important
    .events_like:before
        content: ""
        position: absolute
        background-image: url("../img/events/like.svg")
        background-size: 100%
        background-position: center center
        width: 19px
        height: 17px
        top: 0
    .s-configurator--laas
        .s-configurator__cell:first-child
            width: 100% !important
        .s-configurator__cell:nth-child(2)
            width: 100% !important
    .s-configurator__cell--quantity--acronis
        margin-right: 0 !important
    .s-configurator-bottom_wrapper
        padding: 0
    .s-configurator__cell--acronis-sum, .s-configurator__cell--acronis-last-sum
        text-align: right !important
    .s-configurator__cell--acronis-count, .s-configurator__cell--acronis-count-last
        margin-right: 0
    .s-configurator__cell--quantity
        margin-right: 187px
        width: 48% !important
    .s-configurator__cell:first-child
        margin-bottom: 0!important
    .s-configurator__cell:nth-child(2)
        margin-bottom: 24px
    .main-ban__text--acronis
        padding-top: 253px !important
    .main-ban--acronis
        background-position: center calc(100% - 440px)
    .main-ban--key-sql
        background-size: contain
        background-position: center top
        .main-ban__text
            padding-top: 120px !important
    .main-ban--veeam
        background-size: 160%
    .main-ban--veeam
        .main-ban__text
            padding-top: 259px
    .main-ban--veeam
        .main-ban__text
            h1
                padding: 40px 0 30px
    .main-ban--veeam
        .main-ban__text
            p
                padding-bottom: 33px
    .s-control--protection
        .s-control_list
            .s-control_block--acronis
                height: 82px !important
                min-height: 82px !important
    .s-title--acronis-defence
        span
            left: 209px
            top: 41px
            height: 18px
            line-height: 14px

    .main-ban--cloud-migration
        background-position: center -58px
        background-size: 350px auto

    .s-configurator--commvault
        .s-configurator__cell:last-child
            margin-right: 30px
        .help-icon--mobile
            right: -30px

    .main-ban--veeam
        background-size: 89%
        background-position: 58% 5%

    .slider-one
        .d-links__wrapper.active
            .d-links__social--video
                margin: -104px -120px
    .v-configurator--one-c
        .s-banner__note
            .s-banner__note-text
                margin-top: 2px !important
    .s-configurator--corp
        .s-configurator__line
            padding: 21px 16px
    .panel.s-configurator__line-wrap.active
        margin-top: 20px
    .main-ban--sap
        background-position-y: 76px

    .s-about--business-sustainability
        padding-top: 80px
        padding-bottom: 65px
        .s-title
            font-size: 28px
            margin-bottom: 20px
        .s-about__info
            font-size: 16px
            line-height: 21px
            margin-bottom: 16px
    .b-services-case
        margin-bottom: 20px
        &__second-block
            padding: 17px 20px 5px 20px
            min-height: 90px
        &__title
            font-size: 18px
        &__subtitle
            font-size: 12px
            margin: 10px 0
        &__content
            padding: 15px 40px 20px 20px
            font-size: 12px
    .b-ul
        &__li
            padding-left: 13px
            line-height: 14px
            margin-bottom: 8px
            &::before
                width: 3px
                height: 3px
    .s-cases__content
        margin-bottom: 48px
    .s-control--veeam .s-title--font-s
        width: 100%
        font-size: 26px

    .s-control--information-security
        padding-bottom: 81px !important

    .s-pros__block--requirements-compliance
        .s-pros__block--text
            width: 80%
        .s-pros__block--item
            padding: 0 0 0 20px
            height: 85px
            flex-wrap: nowrap
            margin-bottom: 8px
            &:nth-last-child(-n+3)
                margin-bottom: 8px
        .s-pros__block--icon
            width: 28px
            height: 28px
        .s-pros__block--text
            font-size: 22px

    .s-requirements-compliance
        margin-bottom: 72px

    .b-slider-vendors
        margin-right: 10px
        padding-bottom: 47px
        &__item
            margin-right: 10px
        &__img-wrapper
            margin-bottom: 0px
        .slick-arrow.slick-next
            left: 70px
    .s-title--slider-vendors
        margin-bottom: 20px

    .s-solutions
        margin-bottom: 70px

    .main-ban--hybrid-cloud
        background-size: 100% auto
    .main-ban--journey
        background-position-y: 81px

    .s-cases--journey
        .b-services-case__second-block
            padding-top: 20px
            padding-bottom: 19px
            min-height: 1px
        .b-services-case__content
            padding-top: 19px
            padding-bottom: 10px
            padding-right: 20px
        .b-ul__li
            line-height: 17px
        .s-cases__content
            margin-bottom: 0

    .main-ban--audit
        background-position-y: 86px
    .s-solutions--information-security
        .b-slider-vendors
            .slick-arrow
                bottom: 0
