
@media screen and (max-width: 1600px )
    .container
        width: 1170px

@media screen and (max-width: 1199px )
    .container
        width: 920px

@media screen and (max-width: 950px )
    .container
        width: 740px

@media screen and (max-width: 750px )
    .container
        width: 540px

@media screen and (max-width: 550px )
    .container
        width: 440px

@media screen and (max-width: 450px )
    .container
        width: 100%
        padding-left: 5%
        padding-right: 5%
        &--feedback
            padding-right: 20px
            padding-left: 20px
        &--unsubscribe
            max-width: 440px
            margin: 0 auto
            padding: 0

/*
 

    @media screen and (max-width: 1600px )

    @media screen and (max-width: 1199px )

    @media screen and (max-width: 950px )

    @media screen and (max-width: 750px )

    @media screen and (max-width: 550px )

    @media screen and (max-width: 450px )

    */
