html, body, p, h1, h2, h3, h4, ul, article, figure
	padding: 0
	margin: 0
	font-weight: normal

body
	line-height: $lh
	font-size: $fs
	width: 100%
	min-width: 320px
	overflow-x: hidden
	font-family: 'MTS Sans'

a
	color: inherit

*,
*:before,
*:after
	box-sizing: border-box

.btn
	border: none

a,
.btn,
button
	svg
		transition: all 0.15s ease-in-out
a,
.btn,
button,
button:before,
button:after,
a:before,
a:after
	text-decoration: none
	transition: all 0.15s ease-in-out
	cursor: pointer
	outline: none

img
	max-width: 100%

ul
	list-style: none

.btn,
input,
textarea,
button,
.slick-slide
	outline: none
input,
textarea
	font-family: 'MTS Sans'
.container
	position: relative
	width: $contentWidth
	margin: 0 auto
	height: 100%
	&--unsubscribe
		width: 1600px
