<div class="hidden">
    <div class="popup popup-consult" id="popup-consult">
        <h3>Нужна консультация?</h3>
        <div class="popup__sub-title">Консультация осуществляется только для юридических лиц</div>
        <form action="">
            <input type="text" placeholder="Как к вам обращаться?" name="" class="popup__input" required>
            <input type="tel" placeholder="Телефон" name="" class="popup__input" required>
            <input type="email" placeholder="Электронная почта" name="" class="popup__input" required>
            <input type="text" placeholder="Ваша компания" name="" class="popup__input">
            <textarea placeholder="Комментарий" name="" class="popup__input popup__textarea"></textarea>
            <label class="input-file input-file--consult">
                <input type="file" name="" placeholder="Выберите или перетащите файл (.docx, .pdf)">
                <span class="input-file__text">Выберите или перетащите файл (.docx, .pdf)</span>
            </label>
            <div class="bot">
                <button class="btn btn-red">Отправить запрос</button>
                <label class="check-label">
                    <input type="checkbox" name="" required>
                    <div class="checked"></div>
                    <span class="text">Нажимая кнопку “Отправить запрос” вы даете согласие на обработку персональных данных</span>
                </label>
            </div>
        </form>
    </div>

    <div class="popup popup-success" id="popup-success">
        <h3>Спасибо, что вы снами! Будьте в курсе новостей новинок и мероприятий <a href="#">#CloudMTS</a></h3>
        <div class="popup-success__message">На указанный вами электронный адрес <b>example@mail.ru</b> было выслано письмо со ссылкой для подтверждения подписки.</div>

        <h4>Следите за нами в соц сетях</h4>
        <div class="popup__socials">
            <a href="#" target="_blank"><img src="img/fb.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/ok.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/tw.svg" alt=""></a>
            <a href="#" target="_blank"><img src="img/vk.svg" alt=""></a>
        </div>
    </div>

    <div class="popup popup-video" id="popup-video">
        <div class="video-player  slider-one__left">
            <div id="player2" class="player-frame"></div>
            <div class="video-player__placeholder" data-id="1"
                 style="background-image: url('img/main/video.jpg');">
                <div class="video-player__time">13:25</div>
            </div>
        </div>
    </div>
</div>