<nav class="project-solutions-nav">
    <div class="project-solutions-nav__close">
        <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"><path d="M8.38057 8.38059C8.67749 8.08376 9.08014 7.91701 9.49999 7.91701C9.91983 7.91701 10.3225 8.08376 10.6194 8.38059L19 16.7612L27.3806 8.38059C27.5266 8.22937 27.7013 8.10874 27.8945 8.02576C28.0877 7.94278 28.2955 7.8991 28.5057 7.89728C28.7159 7.89545 28.9244 7.93551 29.119 8.01512C29.3136 8.09473 29.4904 8.2123 29.639 8.36096C29.7877 8.50963 29.9053 8.68641 29.9849 8.881C30.0645 9.07558 30.1045 9.28407 30.1027 9.49431C30.1009 9.70454 30.0572 9.91231 29.9742 10.1055C29.8913 10.2987 29.7706 10.4734 29.6194 10.6194L21.2388 19L29.6194 27.3806C29.9078 27.6792 30.0674 28.0792 30.0638 28.4943C30.0602 28.9095 29.8937 29.3066 29.6001 29.6001C29.3066 29.8937 28.9094 30.0602 28.4943 30.0638C28.0791 30.0674 27.6792 29.9078 27.3806 29.6194L19 21.2388L10.6194 29.6194C10.3208 29.9078 9.92083 30.0674 9.50569 30.0638C9.09054 30.0602 8.69342 29.8937 8.39986 29.6001C8.1063 29.3066 7.93978 28.9095 7.93617 28.4943C7.93256 28.0792 8.09215 27.6792 8.38057 27.3806L16.7612 19L8.38057 10.6194C8.08374 10.3225 7.91699 9.91985 7.91699 9.50001C7.91699 9.08016 8.08374 8.67751 8.38057 8.38059Z"/></svg>
    </div>
    <div class="container">
        <ul class="project-solutions-nav__list">
            <li>
                <a href="#"><img src="img/categories/res-icon1.svg" alt=""> Автоматизация и оркестрация</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon2.svg" alt=""> Администрирование в облаке</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon3.svg" alt=""> Информационная безопасность</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon4.svg" alt=""> Миграция/a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon5.svg" alt=""> Частное облако</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon6.svg" alt=""> Аудит и проектирование</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon6.svg" alt=""> Гибридное облако</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon6.svg" alt=""> Комплексные инфраструктурные проекты</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon6.svg" alt=""> SAP-хостинг</a>
            </li>
            <li>
                <a href="#"><img src="img/categories/res-icon6.svg" alt=""> Cloud Journey</a>
            </li>
        <ul>
    </div>
</nav>